<!-- {% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<h3>{{ 'general.password_page.opening_soon' | t }}</h3>

{% unless shop.password_message == blank %}
  <p>
    {{ shop.password_message }}
  </p>
{% endunless %}

{% form 'customer' %}

  {% if form.posted_successfully? %}
    <ul class="form-success mb-30">
      <li>{{ 'general.password_page.signup_form_success' | t }}</li>
    </ul>
  {% else %}
    <h5 class="color-secondary-text">{{ 'general.password_page.signup_form_heading' | t }}</h5>
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="email" class="hide">
      {{ 'general.password_page.signup_form_email_label' | t }}
    </label>

      <div class="grid-x grid-margin-y mt-40 mb-10">
        <div class="cell medium-auto">
          <input type="email"
            name="contact[email]"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
        </div>
        <div class="cell medium-shrink">
          <button type="submit" name="commit" class="button button-primary button-expanded">
            {{ 'general.password_page.signup_form_submit' | t }}
          </button>
        </div>
      </div>

      {{ form.errors | default_errors }}

  {% endif %}
{% endform %}

{% if settings.share_facebook or settings.share_twitter %}
  <p class="mt-30 mb-5 color-secondary-text"><i>{{ 'general.password_page.spread_the_word' | t }}</i></p>
  {% include 'social-sharing' %}
{% endif %} -->

{% section 'holding-page-content' %}