<div class="toolbar-item-inner" data-autoload-class="CartModalSnippet" data-empty-text="{{ 'cart.general.empty' | t}}">
  <a class="js-toggle-cart-modal" href="/cart" aria-label="Open Shopping Cart">
      {% include 'icon-cart' %}
      <span class="visually-hidden">Total number of items in cart: </span><span class="cart-quantity">{{cart.item_count}}</span>

  </a>
  <div class="cart-modal-view">

    <div class="cart-additional-information" style="display: none">

      <div class="cart-shipping-message">
        {{ settings.cart_shipping_info }}
      </div>

      <div class="cart-feature-strip">
        <div class="grid-x grid-margin-x">
          <div class="cell small-4">
            <div class="flex-container flex-dir-column align-middle">
              <img src="{{settings.cart_feature_strip_image_1 | img_url: '40x'}}" class="lazyload">
              <div>{{ settings.cart_feature_strip_text_1 }}</div>
            </div>
          </div>
          <div class="cell small-4">
            <div class="flex-container flex-dir-column align-middle">
              <img src="{{settings.cart_feature_strip_image_2 | img_url: '40x'}}" class="lazyload">
              <div>{{ settings.cart_feature_strip_text_2 }}</div>
            </div>
          </div>
          <div class="cell small-4">
            <div class="flex-container flex-dir-column align-middle">
              <img src="{{settings.cart_feature_strip_image_3 | img_url: '40x'}}" class="lazyload">
              <div>{{ settings.cart_feature_strip_text_3 }}</div>
            </div>
          </div>
        </div>
      </div>

    </div>




  </div>
</div>
