{% comment %}
Mobile Navigation
====================
Navigation to display on small and medium viewports
{% endcomment %}

<nav role="navigation" class="mobile-nav show-for-mobile-navigation">
    <div class="mobile-nav-wrapper grid-y align-justify">

        <div class="mobile-nav-links-wrapper cell auto">

          <div class="mobile-nav-logo-inner">
            <a href="/">
              {% if section.settings.logo != blank %}
                <img src="{{ section.settings.logo | img_url: 'x20' }}" alt="logo"/>
              {% endif %}
            </a>
          </div>

            <ul class="mobile-nav-links">
                {% for link in linklists[section.settings.main_linklist_mobile].links %}
                    <li>
                        <a {% if link.links != blank %}class="has-children toggle-link"{% else %}href="{{ link.url }}"{% endif %}><b>{{ link.title | escape }}</b></a>
                        {% if link.links != blank %}
                        <span class="toggle">{% include 'icon-chevron' %}</span>

                        <ul class="sub-links child-links">
                            {% for child_link in link.links %}
                                <li>
                                    <a {% if child_link.links != blank %}class="has-children"{% endif %} href="{{ child_link.url }}">&nbsp;&nbsp;{{ child_link.title | escape }}</a>
                                    {% if child_link.links != blank %}
                                        <span class="toggle">{% include 'icon-chevron' %}</span>
                                        <ul class="sub-links grandchild-links">
                                            {% for grandchild_link in child_link.links %}
                                                <li>
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if shop.customer_accounts_enabled %}
                    <li style="background-color: #E7EAE9;">
                        <a class="toggle-link"><b style="text-transform: uppercase;">{{ 'layout.customer.account' | t }}</b></a>
                        <span class="toggle">{% include 'icon-chevron' %}</span>

                        <ul class="sub-links child-links">

                            {% if customer %}
                                <li>
                                    <a href="/account">&nbsp;&nbsp;{{ 'layout.customer.view_account' | t }}</a>
                                </li>
                                <li>
                                    <a href="/account/logout">&nbsp;&nbsp;{{ 'layout.customer.log_out' | t }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="/account/register">&nbsp;&nbsp;{{ 'layout.customer.create_account' | t }}</a>
                                </li>
                                <li>
                                    <a href="/account/login">&nbsp;&nbsp;{{ 'layout.customer.log_in' | t }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                <li style="background-color: #E7EAE9;"><a class="toggle-link" href="https://frankie4.com/pages/support-concept-stores"><b style="text-transform: uppercase;">OUR STORES</b></a></li>
                <li style="background-color: #E7EAE9;"><a class="toggle-link" href="https://frankie4.com/pages/contact"><b style="text-transform: uppercase;">CONTACT US</b></a></li>
            </ul>
        </div>

        <div class="mobile-nav-footer cell shrink">
            <div class="grid-x align-middle">
                {% comment %} <div class="cell auto">
                    {% include 'social-icons' %}
                </div> {% endcomment %}
                <div class="cell shrink">
                    {% include 'currency-picker' %}
                </div>
            </div>
        </div>

    </div>
</nav>

<div class="nav-overlay js-mobile-nav-toggle show-for-mobile-navigation">
    <a class="nav-overlay__close">
        {% include 'icon-cross' %}
    </a>
</div>
