{% comment %}
Main Navigation
====================
Navigation to display on large viewports
{% endcomment %}

<nav class="main-nav">
    <ul class="main-nav-links">
        {% for link in linklists[section.settings.main_linklist].links %}

            {% assign menu_class = "" %}
            {% if link.links != blank %}
                {% assign menu_class = " has-children" | strip %}
            {% endif %}


            {% assign menu_class = menu_class | append: " mega-menu" | strip %}

            <li{% if menu_class != blank %} class="{{ menu_class }}"{% endif %}>
                <a href="{{ link.url }}">
                  {{ link.title | escape }}
                </a>

                {% capture link_list %}
                    {% if link.links != blank %}
                        <ul class="main-nav-child-links">
                            {% for child_link in link.links %}
                                <li class="child-link">
                                    <a href="{{ child_link.url }}" class="hover-link">{{ child_link.title | escape }}</a>
                                    {% if child_link.links != blank %}
                                        <ul class="main-nav-grandchild-links">
                                            {% for grandchild_link in child_link.links %}
                                                <li>
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endcapture %}


                {% if link.title == section.settings.mega_menu_handle %}
                    <div class="main-nav-mega-menu main-nav-mega-menu-1 grid-x">
                        <div class="main-nav-mega-menu-1-links cell">
                            {{ link_list }}
                        </div>
                        <div class="main-nav-mega-menu-1-image cell auto">
                            {% if section.settings.mega_menu_image_url_1 %}<a href="{{ section.settings.mega_menu_image_url_1 }}">{% endif %}
                                <img src="{{section.settings.mega_menu_image_1 | img_url: '800x'}}" srcset="{{section.settings.mega_menu_image_1 | img_url: '800x'}} 800w, {{section.settings.mega_menu_image_1 | img_url: '450x'}} 450w">
                            {% if section.settings.mega_menu_image_url_1 %}</a>{% endif %}
                        </div>
                        <div class="main-nav-mega-menu-1-image cell auto">
                            {% if section.settings.mega_menu_image_url_2 %}<a href="{{ section.settings.mega_menu_image_url_2 }}">{% endif %}
                                <img src="{{section.settings.mega_menu_image_2 | img_url: '800x'}}" srcset="{{section.settings.mega_menu_image_2 | img_url: '800x'}} 800w, {{section.settings.mega_menu_image_2 | img_url: '450x'}} 450w">
                            {% if section.settings.mega_menu_image_url_2 %}</a>{% endif %}
                        </div>
                    </div>
                {% elsif link.title == section.settings.mega_menu_2_handle %}
                    <div class="main-nav-mega-menu main-nav-mega-menu-2">
                        <div class="grid-x main-nav-mega-menu-2-blocks align-top">
                            {% if section.settings.mega_menu_2_image_url_1 != blank %}
                                <div class="main-nav-mega-menu-image cell small-4">
                                    {% if section.settings.mega_menu_2_image_url_1 %}<a href="{{ section.settings.mega_menu_2_image_url_1 }}">{% endif %}
                                        <img data-src="{{section.settings.mega_menu_2_image_1 | img_url: '450x'}}" class="lazyload">
                                        {% if section.settings.mega_menu_2_image_url_1 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_2 != blank %}
                                <div class="main-nav-mega-menu-image cell small-4">
                                    {% if section.settings.mega_menu_2_image_url_2 %}<a href="{{ section.settings.mega_menu_2_image_url_2 }}">{% endif %}
                                        <img data-src="{{section.settings.mega_menu_2_image_2 | img_url: '450x'}}" class="lazyload">
                                        {% if section.settings.mega_menu_2_image_url_2 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_3 != blank %}
                                <div class="main-nav-mega-menu-image cell small-4">
                                    {% if section.settings.mega_menu_2_image_url_3 %}<a href="{{ section.settings.mega_menu_2_image_url_3 }}">{% endif %}
                                        <img data-src="{{section.settings.mega_menu_2_image_3 | img_url: '450x'}}" class="lazyload">
                                        {% if section.settings.mega_menu_2_image_url_3 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_4 != blank %}
                                <div class="main-nav-mega-menu-image cell small-4">
                                    {% if section.settings.mega_menu_2_image_url_4 %}<a href="{{ section.settings.mega_menu_2_image_url_4 }}">{% endif %}
                                        <img data-src="{{section.settings.mega_menu_2_image_4 | img_url: '450x'}}" class="lazyload">
                                        {% if section.settings.mega_menu_2_image_url_4 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_5 != blank %}
                                <div class="main-nav-mega-menu-image cell small-4">
                                    {% if section.settings.mega_menu_2_image_url_5 %}<a href="{{ section.settings.mega_menu_2_image_url_5 }}">{% endif %}
                                        <img data-src="{{section.settings.mega_menu_2_image_5 | img_url: '450x'}}" class="lazyload">
                                        {% if section.settings.mega_menu_2_image_url_5 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_6 != blank %}
                                <div class="main-nav-mega-menu-image cell small-4">
                                    {% if section.settings.mega_menu_2_image_url_6 %}<a href="{{ section.settings.mega_menu_2_image_url_6 }}">{% endif %}
                                        <img data-src="{{section.settings.mega_menu_2_image_6 | img_url: '450x'}}" class="lazyload">
                                       {% if section.settings.mega_menu_2_image_url_6 %}</a>{% endif %}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% elsif link_list != blank %}
                  <div class="main-nav-mega-menu grid-x grid-margin-x align-justify">

                    {% if link.type == 'collection_link' %}
                      <div class="cell medium-3">
                        <a href="{{ link.url }}" class="main-nav-mega-menu-image-container">
                          <div class="main-nav-mega-menu-title">Shop All {{ link.object.title }}</div>
                          <img src="{{ link.object.image | img_url: '300x230', crop: 'center' }}"/>
                        </a>
                      </div>
                    {% endif %}
                    <div class="cell medium-8">
                    {{ link_list }}
                    </div>
                  </div>
                      {% comment %}
                        <div class="main-nav-dropdown">
                            {{ link_list }}
                        </div>
                      {% endcomment %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
