{% comment %}
Main Navigation
====================
Navigation to display on large viewports
{% endcomment %}

<nav class="main-nav">
    <ul class="main-nav-links">
        {% for link in linklists[section.settings.main_linklist].links %}

            {% assign menu_class = "" %}
            {% if link.links != blank %}
                {% assign menu_class = " has-children" | strip %}
            {% endif %}


            {% assign menu_class = menu_class | append: " mega-menu" | strip %}

            <li {% if menu_class != blank %}class="{{ menu_class }}"{% endif %}>
                <a href="{{ link.url }}" {% if link.title == "SALE" %}style="color: red"{% endif %}>
                  {{ link.title | escape }}
                </a>

                {% capture link_list %}
                    {% if link.links != blank %}
                        <ul class="main-nav-child-links">
                            {% for child_link in link.links %}
                                <li class="child-link">
                                    <a href="{{ child_link.url }}" class="hover-link">{{ child_link.title | escape }}</a>
                                    {% if child_link.links != blank %}
                                        <ul class="main-nav-grandchild-links">
                                            {% for grandchild_link in child_link.links %}
                                                <li>
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endcapture %}

                {% capture link_list2 %}
                    {% if link.links != blank %}
                        <ul class="main-nav-child-links">
                            {% for child_link in link.links %}
                                {% if child_link.title contains "col1" %}
                                <li class="child-link">
                                    {% assign link_title = child_link.title | split:"col1" %}
                                    <a href="{{ child_link.url }}" class="hover-link">{{ link_title }}</a>
                                    {% if child_link.links != blank %}
                                        <ul class="main-nav-grandchild-links">
                                            {% for grandchild_link in child_link.links %}
                                                <li>
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endcapture %}

                {% capture link_list3 %}
                    {% if link.links != blank %}
                        <ul class="main-nav-child-links">
                            {% for child_link in link.links %}
                                {% if child_link.title contains "col2" %}
                                <li class="child-link">
                                    {% assign link_title = child_link.title | split:"col2" %}
                                    <a href="{{ child_link.url }}" class="hover-link">{{ link_title }}</a>
                                    {% if child_link.links != blank %}
                                        <ul class="main-nav-grandchild-links">
                                            {% for grandchild_link in child_link.links %}
                                                <li>
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title | escape }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endcapture %}

                {% if link.title == section.settings.mega_menu_handle %}
                    <div class="main-nav-mega-menu main-nav-mega-menu-2">
                        <div class="grid-x main-nav-mega-menu-2-blocks align-top">
                            {% if section.settings.mega_menu_image_url_1 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_image_url_1 %}<a href="{{ section.settings.mega_menu_image_url_1 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_image_1 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_text_1 != blank %}<span class="h6-v2">{{section.settings.mega_menu_text_1}}</span>{% endif %}
                                    {% if section.settings.mega_menu_image_url_1 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_image_url_2 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_image_url_2 %}<a href="{{ section.settings.mega_menu_image_url_2 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_image_2 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_text_2 != blank %}<span class="h6-v2">{{section.settings.mega_menu_text_2}}</span>{% endif %}
                                    {% if section.settings.mega_menu_image_url_2 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_image_url_3 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_image_url_3 %}<a href="{{ section.settings.mega_menu_image_url_3 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_image_3 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_text_3 != blank %}<span class="h6-v2">{{section.settings.mega_menu_text_3}}</span>{% endif %}
                                    {% if section.settings.mega_menu_image_url_3 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_image_url_4 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_image_url_4 %}<a href="{{ section.settings.mega_menu_image_url_4 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_image_4 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_text_4 != blank %}<span class="h6-v2">{{section.settings.mega_menu_text_4}}</span>{% endif %}
                                    {% if section.settings.mega_menu_image_url_4 %}</a>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elsif link.title == section.settings.mega_menu_2_handle %}
                    <div class="main-nav-mega-menu main-nav-mega-menu-2">
                        <div class="grid-x main-nav-mega-menu-2-blocks align-top">
                            {% if section.settings.mega_menu_2_image_url_1 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_2_image_url_1 %}<a href="{{ section.settings.mega_menu_2_image_url_1 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_2_image_1 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_2_text_1 != blank %}<span class="h6-v2">{{section.settings.mega_menu_2_text_1}}</span>{% endif %}
                                    {% if section.settings.mega_menu_2_image_url_1 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_2 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_2_image_url_2 %}<a href="{{ section.settings.mega_menu_2_image_url_2 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_2_image_2 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_2_text_2 != blank %}<span class="h6-v2">{{section.settings.mega_menu_2_text_2}}</span>{% endif %}
                                    {% if section.settings.mega_menu_2_image_url_2 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_3 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_2_image_url_3 %}<a href="{{ section.settings.mega_menu_2_image_url_3 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_2_image_3 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_2_text_3 != blank %}<span class="h6-v2">{{section.settings.mega_menu_2_text_3}}</span>{% endif %}
                                    {% if section.settings.mega_menu_2_image_url_3 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_2_image_url_4 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_2_image_url_4 %}<a href="{{ section.settings.mega_menu_2_image_url_4 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_2_image_4 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_2_text_4 != blank %}<span class="h6-v2">{{section.settings.mega_menu_2_text_4}}</span>{% endif %}
                                    {% if section.settings.mega_menu_2_image_url_4 %}</a>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elsif link.title == section.settings.mega_menu_3_handle %}
                    <div class="main-nav-mega-menu main-nav-mega-menu-2">
                        <div class="grid-x main-nav-mega-menu-2-blocks align-top">
                            {% if section.settings.mega_menu_3_image_url_1 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_3_image_url_1 %}<a href="{{ section.settings.mega_menu_3_image_url_1 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_3_image_1 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_3_text_1 != blank %}<span class="h6-v2">{{section.settings.mega_menu_3_text_1}}</span>{% endif %}
                                    {% if section.settings.mega_menu_3_image_url_1 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_3_image_url_2 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_3_image_url_2 %}<a href="{{ section.settings.mega_menu_3_image_url_2 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_3_image_2 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_3_text_2 != blank %}<span class="h6-v2">{{section.settings.mega_menu_3_text_2}}</span>{% endif %}
                                    {% if section.settings.mega_menu_3_image_url_2 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_3_image_url_3 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_3_image_url_3 %}<a href="{{ section.settings.mega_menu_3_image_url_3 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_3_image_3 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_3_text_3 != blank %}<span class="h6-v2">{{section.settings.mega_menu_3_text_3}}</span>{% endif %}
                                    {% if section.settings.mega_menu_3_image_url_3 %}</a>{% endif %}
                                </div>
                            {% endif %}
                            {% if section.settings.mega_menu_3_image_url_4 != blank %}
                                <div class="main-nav-mega-menu-image cell small-3 text-center">
                                    {% if section.settings.mega_menu_3_image_url_4 %}<a href="{{ section.settings.mega_menu_3_image_url_4 }}">{% endif %}
                                    <img data-src="{{section.settings.mega_menu_3_image_4 | img_url: '450x'}}" class="lazyload">
                                    {% if section.settings.mega_menu_3_text_4 != blank %}<span class="h6-v2">{{section.settings.mega_menu_3_text_4}}</span>{% endif %}
                                    {% if section.settings.mega_menu_3_image_url_4 %}</a>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elsif link.title == section.settings.mega_menu_first %}
                    <div class="main-nav-mega-menu grid-x grid-margin-x align-justify">
                        {% if link.type == 'collection_link' %}
                            <div class="cell medium-3">
                            <a href="{{ link.url }}" class="main-nav-mega-menu-image-container">
                                <img src="{{ link.object.image | img_url: '300x230', crop: 'bottom' }}"/>
                            </a>
                            </div>
                        {% endif %}
                        <div class="cell medium-3">
                            {{ link_list2 }}
                        </div>
                        <div class="cell medium-5">
                            <span class="fwi-600">SHOP BY EDIT</span>
                            {{ link_list3 }}
                        </div>
                    </div>
                {% elsif link.title == section.settings.mega_menu_second %}
                    <div class="main-nav-mega-menu grid-x grid-margin-x align-justify">
                        {% if link.type == 'collection_link' %}
                            <div class="cell medium-3">
                            <a href="{{ link.url }}" class="main-nav-mega-menu-image-container">
                                <img src="{{ link.object.image | img_url: '300x230', crop: 'bottom' }}"/>
                            </a>
                            </div>
                        {% endif %}
                        <div class="cell medium-3">
                            {{ link_list2 }}
                        </div>
                        <div class="cell medium-5">
                            {{ link_list3 }}
                        </div>
                    </div>
                {% elsif link_list != blank %}
                    <div class="main-nav-mega-menu grid-x grid-margin-x align-justify">
                        {% if link.type == 'collection_link' %}
                            <div class="cell medium-3">
                            <a href="{{ link.url }}" class="main-nav-mega-menu-image-container">
                                <img src="{{ link.object.image | img_url: '300x230', crop: 'bottom' }}"/>
                            </a>
                            </div>
                        {% endif %}
                        <div class="cell medium-3">
                            {{ link_list2 }}
                        </div>
                        <div class="cell medium-5">
                            {% if request.host == 'us.frankie4.com' or request.host == 'frankie4-united-states-store.myshopify.com' %}
                            <span class="fwi-600">SHOP BY COLOR</span>
                            {% else %}
                            <span class="fwi-600">SHOP BY COLOUR</span>
                            {% endif %}
                            {{ link_list3 }}
                        </div>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
<style>
.main-nav-child-links {
    column-count: 1;
}
</style>