<div class="page-item">

    <div class="page-item__body">

        <h3>
            <a href="{{ page.url }}">{{ page.title }}</a>
        </h3>

        <p>{{ page.content | strip_html | truncatewords: 20 }}</p>

        <div class="button-group">
            <div class="inside">
                <a href="{{ page.url }}" class="button button-primary button-small">{{ 'pages.view_page' | t }}</a>
            </div>
        </div>
    </div>

</div>