<div data-autoload-class="ArticleListingSection" class="section section-article-listing no-margin-top">
    <div class="grid-container">

        <div class="article-tags">
            <a class="article-tags__tag hover-link{% if current_tags == blank %} active{% endif %}"
               href="{{ blog.url }}">All</a>
            {% for tag in blog.all_tags %}
                <a class="article-tags__tag {% if current_tags contains tag %} active{% endif %}"
                   href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            {% endfor %}
        </div>

        {% paginate blog.articles by 5 %}

            <div id="article-container" class="grid-x grid-margin-x grid-margin-y" data-load_more_enable="{% if paginate.pages > 1 %}true{% else %}false{% endif %}">

                {% for article in blog.articles %}
                    {%  if forloop.index == 1 %}
                        {%- assign article_type = 'full' -%}
                        <div class="cell small-12 medium-6 large-8">
                            {% include 'article-tile' %}
                        </div>
                    {% else %}
                        {%- assign article_type = '' -%}
                        <div class="cell small-12 medium-6 large-4">
                           {% include 'article-tile' %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

              <script>
              var loadMoreEnable = {% if paginate.pages > 1 %}true{% else %}false{% endif %};
              </script>

              {% if paginate.pages > 1 %}
              {% comment %} checks if we want to use the load more {% endcomment %}

              {% comment %} checks if there's a next page {% endcomment %}
              {% if paginate.next.is_link %}
              <div id="article-load-more-container" class="button-group align-center load-more-group" style="display:none;">
                <div class="inside">
                  <button id="article-load-more-button"
                  type="button"
                  class="button button-primary"
                  data-num-pages="{{ paginate.pages }}"
                  data-next-url="{{ paginate.next.url }}"
                  data-load-more-text="Load More"
                  data-loading-text="Loading">
                  Load More
                </button>
              </div>
            </div>

            {% endif %}

            {% comment %} You'll keep this so that if they don't have JavaScript enabled, it still works. You'll hide with JavaScript {% endcomment %}
            {% include 'pagination' %}
            {% endif %}

        {% endpaginate %}

    </div>
</div>