<div class="section section-banner-3 no-margin mbi-70 m-mb-30 width-100" style="max-width: 2000px; margin: auto">

    <img style="height: auto; width: 100%; object-fit: contain; object-position: center" 
            data-src="{{section.settings.image |  img_url: '2000x' }}" 
            data-srcset="{{section.settings.image | img_url: '2000x'}} 2000w, 
                         {{section.settings.image | img_url: '1100x'}} 1100w, 
                         {{section.settings.image | img_url: '800x'}} 800w" 
            alt="{{section.settings.title}}" class="lazyload show-for-medium">
    <a href="{{section.settings.link}}" class="show-for-small-only"><img style="height: auto; width: 100%; object-fit: contain; object-position: center" 
            data-src="{{section.settings.mobile_image |  img_url: '1400x' }}" 
            data-srcset="{{section.settings.mobile_image | img_url: '1400x'}} 1400w, 
                         {{section.settings.mobile_image | img_url: '1100x'}} 1100w, 
                         {{section.settings.mobile_image | img_url: '800x'}} 800w" 
            alt="{{section.settings.title}}" class="lazyload"></a>

    {% if section.settings.option == '1' %}
    <div class="banner-content-wrapper">
        <div class="grid-container text-center">
            <h1 class="h1-v2 m-0 show-for-medium">{{section.settings.title}}</h1>
            <a href="{{section.settings.link}}" class="show-for-small-only" style="text-decoration: none"><h1 class="h3-v2 m-0 lsi-1">{{section.settings.title}}</h1></a>
            {% if section.settings.subtitle != blank %}
                <h4 class="banner-subtitle mt-10 mb-0 fwi-400">{{section.settings.subtitle}}</h4>
            {% endif %}
            {% if section.settings.button-text != blank %}
                <a class="button button-underline mti-30 show-for-medium" href="{{section.settings.link}}">{{section.settings.button-text}}</a>
            {% endif %}
        </div>
    </div>
    {% elsif section.settings.option == '2' %}
    <div class="banner-content-wrapper">
        <div class="grid-container text-left" style="color: black; width: 80vw">
            <h1 class="h1-v2 m-0 show-for-medium" style="margin-top: 400px">{{section.settings.title}}</h1>
            <a href="{{section.settings.link}}" class="show-for-small-only" style="text-decoration: none"><h1 class="h3-v2 m-0 lsi-1" style="margin-left: -180px; margin-top: 150px;">{{section.settings.title}}</h1></a>
            {% if section.settings.subtitle != blank %}
                <h4 class="banner-subtitle mt-10 mb-0 fwi-400">{{section.settings.subtitle}}</h4>
            {% endif %}
            {% if section.settings.button-text != blank %}
                <a class="button button-underline button-underline2 mti-30 show-for-medium" href="{{section.settings.link}}">{{section.settings.button-text}}</a>
                <style>
                    .button-underline2 {
                        color: black;
                        border-bottom: 2px solid #000;
                    }
                </style>
            {% endif %}
        </div>
    </div>
    {% endif %}

</div>


{% schema %}
    {
        "name": "Banner Feature",
        "settings": [
            {
                "id": "image",
                "type": "image_picker",
                "label": "Image"
            },
            {
                "id": "mobile_image",
                "type": "image_picker",
                "label": "Mobile Image"
            },
            {
                "id": "title",
                "type": "text",
                "label": "Title"
            },
            {
                "id": "subtitle",
                "type": "text",
                "label": "Subtitle"
            },
            {
                "id": "button-text",
                "type": "text",
                "label": "Button Text"
            },
            {
                "id": "link",
                "type": "url",
                "label": "Button Link"
            },
            {
                "id": "option",
                "type": "text",
                "label": "Style Option",
                "default": "1"
            }
        ],
        "presets": [
            {
                "name": "Banner Feature",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
