<div class="section section-about-us-page-group mbi-0">
    <div class="section section-step-inside mti-0 mbi-0" data-autoload-class="StepInsideSection">
        <div class="section-line mti-70 mbi-40 m-mt-30 m-mb-15 show-for-medium"></div>
        <div class="section-line-mobile mti-70 mbi-40 m-mt-30 m-mb-15 show-for-small-only"></div>
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-6">
                    <div class="text-center mbi-15 text-container">
                        <h1>{{ section.settings.section_title_blog }}</h1>
                    </div>
                </div>
                <div class="cell medium-10">
                    <div class="text-center mbi-15 text-container">
                        <p class="lead">{{ section.settings.section_content_blog }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="glide slider">
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-chevron-right' %}</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-chevron-right' %}</button>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for block in section.blocks %}
                        {% if block.type == 'slide' %}
                        <li class="glide__slide">
                            <div class="step-inside-item">
                                <a href="{{ block.settings.link }}" target="_blank">
                                    <img class="step-inside-item-image"
                                        src="{{ block.settings.image | img_url: '600x600', crop: 'center' }}"
                                        srcset="
                                        {{ block.settings.image | img_url: '300x300', crop: 'center' }} 300w,
                                        {{ block.settings.image | img_url: '400x400', crop: 'center' }} 400w,
                                        {{ block.settings.image | img_url: '500x500', crop: 'center' }} 500w,
                                        {{ block.settings.image | img_url: '600x600', crop: 'center' }} 600w"
                                        sizes="
                                        (min-width: 600px) 60vw,
                                        (min-width: 850px) 50vw,
                                        (min-width: 1024px) 33.3vw,
                                        (min-width: 1200px) 33.3vw,
                                        (min-width: 1400px) 33.3vw,
                                        80vw"
                                        alt="Image of socks - {{ block.settings.title }}"
                                    />
                                    <div class="step-inside-item-content-container" style="padding: 40px 50px 20px 25px">
                                        <div class="step-inside-item-content">
                                            <div class="step-inside-item-content-subtitle">
                                                <h5>{{ block.settings.subtitle }}</h5>
                                            </div>
                                            <h2 class="mobile-h">{{ block.settings.title }}</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% schema %}
     {
         "name": "Carousel Section",
         "settings": [
            {
                "type": "text",
                "id": "section_title_blog",
                "label": "Blog Section Title"
            },
            {
                "type": "textarea",
                "id": "section_content_blog",
                "label": "Blog Section Paragraph"
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "subtitle",
                        "type": "text",
                        "label": "Subtitle"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            }
        ]
     }
 {% endschema %}
