{% if section.settings.show %}
<div class="section section-text-image no-margin show-for-medium">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell medium-6 large-4">
                <div class="cell-text-container text-center" style="padding: 20px; margin: 8%">
                    <div class="cell-image cell medium-auto">
                        <img src="{{section.settings.image_2 | img_url: '400x'}}" style="width: 250px; margin: auto">
                    </div>
                    <p style="line-height: normal;">{{section.settings.content}}</p>
                    <div class="cell shrink">
                        <a class="button button-primary" target="_blank" href="{{ section.settings.good_design_award }}">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="cell-image cell medium-auto">
                <div data-autoload-class="ComponentVideo" style="height:450px">
                    <video class="lazyload" preload="none" autoplay="" loop="" muted=""
                           playsinline controls controlslist="nodownload"
                           width="100%" height="450"
                           data-src="{{section.settings.video }}">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-text-image no-margin show-for-small-only">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell medium-6 large-4">
                <div class="cell-text-container text-center" style="padding: 20px; margin: 8%">
                    <div class="cell-image cell medium-auto">
                        <img src="{{section.settings.image_2 | img_url: '400x'}}" style="width: 250px; margin: auto">
                    </div>
                    <p style="line-height: normal;">{{section.settings.content}}</p>
                    <div class="cell shrink">
                        <a class="button button-primary" target="_blank" href="{{ section.settings.good_design_award }}">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="cell-image cell medium-auto">
                <div data-autoload-class="ComponentVideo" style="height:200px; margin-bottom: 25px">
                    <video class="lazyload" preload="none" autoplay="" loop="" muted=""
                           playsinline controls controlslist="nodownload"
                           width="100%" height="200"
                           data-src="{{section.settings.video-m }}">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Good Design Award",
  "settings": [
    {
        "type": "checkbox",
        "id": "show",
        "label": "Display or Hide"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Good Design Award Icon"
    },
    {
        "type": "textarea",
        "id": "content",
        "label": "Content"
    },
    {
        "type": "url",
        "id": "good_design_award",
        "label": "Good Design Award URL link"
    },
    {
        "id": "video",
        "type": "text",
        "label": "Video",
        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
    },
    {
        "id": "video-m",
        "type": "text",
        "label": "Video Mobile",
        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
    }
  ]
}
{% endschema %}
