<div data-autoload-class="HighHeelsDifference" class="section no-margin" style="background-color: #F5F5F5;">

    <div class="grid-container">
        <div class="grid-x align-middle">

            <div style="text-align: center; width: 1100px; margin: 40px 10% 20px 10%;">
                <h1>{{section.settings.section_title}}</h1>
            </div>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides text-center">
                        <li class="glide__slide">
                            <div style="padding-right: 30px; height: 45vh; width:50%; float: left">
                                <div style="width: 3px; height: 40px; margin: 30px auto 30px auto;"></div>
                                <div style="text-align: left;">
                                    <h1>{{section.settings.section_title_1}}</h1>
                                    <p>{{section.settings.section_paragraph_1}}</p>
                                </div>
                                <div style="width: 3px; height: 40px; margin: 30px auto 30px auto;"></div>
                            </div>
                            <div style="padding-left: 30px; height: 45vh; width: 50%; float: left">
                                <div class="cell-image cell medium-auto" 
                                    style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}'); 
                                            height: 40vh; 
                                            max-height: 950px; 
                                            width: 100%; 
                                            background-size: cover;
                                            background-position: center;">
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">1</li>
                        <li class="glide__slide">2</li>
                    </ul>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"><span>{{section.settings.section_title_1}}</span></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                </div>
            </div>

        </div>
    </div>

</div>


<style>
    .glide__bullet {
        margin-right: 100px;
    }
</style>

{% schema %}
     {
         "name": "High Heels Sliders",
         "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "section_title_1",
                "label": "Section 1 Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_1",
                "label": "Section 1 Content"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            }
         ]
     }
 {% endschema %}
