<div class="section section-instagram no-margin">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="text-left width-100">
                <p class="instagram-title m-0">
                    <a class="instagram-link" href="{{ section.settings.section_headinglink }}">{{ section.settings.section_heading }}</a>
                    <a class="instagram-link show-for-medium float-right" href="{{ section.settings.section_headinglink2 }}">{{ section.settings.section_heading2 }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="yotpo yotpo-pictures-widget mti-0"
         data-gallery-id="{{section.settings.gallery_id}}">
    </div>
</div>

{% schema %}
    {
        "name": "Instagram",
        "settings": [
            {
                "type": "text",
                "id": "section_heading",
                "label": "Ttile"
            },
            {
                "type": "text",
                "id": "section_headinglink",
                "label": "Link"
            },
            {
                "type": "text",
                "id": "section_heading2",
                "label": "Ttile2"
            },
            {
                "type": "text",
                "id": "section_headinglink2",
                "label": "Link2"
            },
            {
                "type": "text",
                "id": "gallery_id",
                "label": "Yotpo Gallery ID"
            }
        ],
        "presets": [
            {
                "name": "Instagram",
                "category": "Sections"
            }
        ]
    }
{% endschema %}

