<div class="section m-mb-0 section-about-us-page-group">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="section-line mti-40 mbi-10 m-mb-0 m-mt-0 show-for-medium"></div>
            <div class="section-line-mobile mti-40 mbi-10 m-mb-0 m-mt-10 show-for-small-only"></div>
            <div class="text-section text-center m-mt-20 mbi-0 m-mb-20">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
                <span><h5><a href="{{section.settings.link}}">{{section.settings.link_name}}</a></h5></span>
            </div>
            <div class="cell-image cell medium-auto image-full-width show-for-medium" 
                style="background-image: url('{{section.settings.image | img_url: '1400x'}}');
                        background-size: contain; background-repeat: no-repeat">
            </div>
            <div class="cell-image cell medium-auto image-full-width show-for-small-only" 
                style="background-image: url('{{section.settings.image2 | img_url: '1400x'}}');
                        background-size: contain; background-repeat: no-repeat;
                        height: 300px;">
            </div>
        </div>
    </div>
</div>

{% schema %}
     {
         "name": "Text Image Section",
         "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title 1"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph 1"
            },
            {
                "type": "text",
                "id": "link_name",
                "label": "Link Section Text"
            },
            {
                "type": "text",
                "id": "link",
                "label": "Link Section"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "image2",
                "label": "Image Mobile"
            }
        ]
     }
{% endschema %}
