{% comment %}
When a comment is submitted, the browser is redirected to a page that includes
the new comment id in its URL.
#comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
    {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}


{% assign current_article_id = article.id %}

<div class="section section-article-detail">

    <article class="grid-container" role="article">

    {% include 'breadcrumb' %}

        <div class="grid-x">

            <div class="article__meta cell medium-12 large-2">
               {% capture date %}{{ article.published_at | date: '%b %d, %Y' }}{% endcapture %}
               <span class="article-tile__date text-small color-secondary-text mb-10">{{ date }}</span>

               {% if article.tags.size > 0 %}
                   <div class="article-tile__tags text-small color-secondary-text mt-10 link">
                       {% for tag in article.tags %}
                           {% if forloop.index0 > 0 %}<span class="delimeter">|</span>{% endif %}
                           <span class="article-tile__tag">{{ tag }}</span>
                       {% endfor %}
                   </div>
               {% endif %}

            </div>

            <div class="article__content cell medium-12 large-10">

                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell large-5">
                        <h1 class="mt-10 mb-40">{{ article.title }}</h1>
                    </div>
                    <div class="cell large-6 large-offset-1">
                        <p class="lead">{{ article.excerpt }}</p>
                    </div>
                </div>

                <img data-src="{{article.image | img_url: '1024x', crop: 'center'}}" class="lazyload article__image">

                <div class="rte clearfix" itemprop="articleBody">
                    {{ article.content }}
                </div>


            </div>

        </div>

    </article>

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "articleBody": "{{ article.content | strip_html }}",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ shop.url }}{{ page.url }}"
          },
          "headline": "{{ article.title }}",
          {% if article.excerpt != blank %}
            "description": "{{ article.excerpt | strip_html }}",
          {% endif %}
          {% if article.image %}
                    {% assign image_size = article.image.width | append: 'x' %}
            "image": [
              "https:{{ article | img_url: image_size }}"
            ],
          {% endif %}
          "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
          "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
          "author": {
            "@type": "Person",
            "name": "{{ article.author }}"
          },
          "publisher": {
            "@type": "Organization",
            {% if settings.share_image %}
                    {% assign image_size = settings.share_image.width | append: 'x' %}
              "logo": {
                "@type": "ImageObject",
                "height": "{{ settings.share_image.height }}",
                "url": "https:{{ settings.share_image | img_url: image_size }}",
                "width": "{{ settings.share_image.width }}"
              },
            {% elsif article.image %}
                    {% assign image_size = article.image.width | append: 'x' %}
              "logo": {
                "@type": "ImageObject",
                "height": "{{ article.image.height }}",
                "url": "https:{{ article.image | img_url: image_size }}",
                "width": "{{ article.image.width }}"
              },
            {% endif %}
            "name": "{{ shop.name }}"
          }
        }
    </script>
</div>

<div class="section section-article-related">
    <div class="grid-container">
        <div class="mt-30 mb-40">
            <h2 class="h1">{{section.settings.related_articles_title}}</h2>
            <p class="lead color-secondary-text">{{section.settings.related_articles_subtitle}}</p>
        </div>
        <div class="grid-x grid-margin-x grid-margin-y">
            {% assign article_listing = 1 %}
            {% for article in blog.articles limit: 4  %}
                {% unless current_article_id ==  article.id or article_listing == 4 %}
                    <div class="cell small-12 medium-6 large-4{% if article_listing == 3 %} hide-for-medium-only{% endif %}">
                        {% include 'article-tile' %}
                    </div>
                {% assign article_listing = article_listing | plus: 1 %}
                {% endunless %}
            {% endfor %}

        </div>
    </div>
</div>


{% schema %}

    {
        "name": "Article Detail",
        "settings": [
            {
                "type": "header",
                "content": "Related Posts"
            },
            {
                "type": "text",
                "id": "related_articles_title",
                "label": "Related Posts Title",
                "default": "We think you’ll love these"
            },
            {
                "type": "text",
                "id": "related_articles_subtitle",
                "label": "Related Posts Subtitle",
                "default": "We've selected some similar posts just for you"
            }
        ]
    }

{% endschema %}
