<div data-autoload-class="BannerSection" class="section section-banner no-margin">


    <div class="slider">

        <div data-glide-el="track" class="glide__track">
            <div class="glide__slides">


                {% for block in section.blocks %}

                    <div class="glide__slide" style="position: relative">

                        {% if block.settings.video != blank %}
                            <div class="banner-video">
                                <div class="component-video" data-autoload-class="ComponentVideo">
                                    <video class="lazyload" preload="none" autoplay="" loop="" muted=""
                                           playsinline controlslist="nodownload"
                                           width="1280" height="720"
                                           data-src="{{block.settings.video }}">
                                    </video>
                                </div>
                            </div>
                        {% else %}

                            <picture>
                                {% if block.settings.mobile_image %}
                                    <source media="(max-width:640px)" data-srcset="{{block.settings.mobile_image | img_url: '600x'}}">
                                {% endif %}
                                <img data-src="{{block.settings.image |  img_url: '1400x' }}" data-srcset="{{block.settings.image | img_url: '1400x'}} 1400w, {{block.settings.image | img_url: '1100x'}} 1100w, {{block.settings.image | img_url: '800x'}} 800w" data-sizes="100vw" alt="{{block.settings.title}}" class="lazyload banner-image">
                            </picture>

                         {% endif %}


                        <div class="banner-content-wrapper">
                            <div class="grid-container text-left" style="width: 100%; margin-bottom: 100px">
                                <h1 class="banner-title m-0">{{block.settings.title}}</h1>
                                {% if block.settings.subtitle != blank %}
                                    <h4 class="banner-subtitle mt-10 mb-0" style="font-weight: 400">{{block.settings.subtitle}}</h4>
                                {% endif %}
                                {% if block.settings.button-text != blank %}
                                    <a class="button mt-30" href="{{block.settings.link}}"
                                         style="padding: 0; border: none; border-bottom-style: solid; border-width: 1px; justify-content: flex-start; min-width: 0; letter-spacing: 2px">
                                         {{block.settings.button-text}}</a>
                                {% endif %}

                            </div>
                        </div>
                        {% if block.settings.button-text == blank and block.settings.link != blank %}
                            <a class="cover-link" href="{{block.settings.link}}"></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if section.blocks.size > 1 %}
        <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
            {% for block in section.blocks %}
                <button class="slider__bullet glide__bullet" data-glide-dir="={{ forloop.index0 }}"></button>
            {% endfor %}

        </div>
        {% endif %}

    </div>
</div>


{% schema %}
    {
        "name": "Banner 2.0",
        "blocks": [
            {
                "type": "banner_slide",
                "name": "Banner Slide",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "mobile_image",
                        "type": "image_picker",
                        "label": "Mobile Image"
                    },
                    {
                        "id": "video",
                        "type": "text",
                        "label": "Video",
                        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "subtitle",
                        "type": "text",
                        "label": "Subtitle"
                    },
                    {
                        "id": "button-text",
                        "type": "text",
                        "label": "Button Text"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Banner2.0",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
