<div class="section section-banner no-margin">
    {% if section.settings.mobile_image %}
        <img src="{{section.settings.image | img_url: '1400x'}}" srcset="{{section.settings.mobile_image | img_url: '1400x'}} 1400w, {{section.settings.mobile_image | img_url: '1100x'}} 1100w, {{section.settings.mobile_image | img_url: '800x'}} 800w, {{section.settings.mobile_image | img_url: '450x'}} 450w" class="mobile-banner-image banner-image">
    {% endif %}
    <img src="{{section.settings.image | img_url: '1400x'}}" srcset="{{section.settings.image | img_url: '1400x'}} 1400w, {{section.settings.image | img_url: '1100x'}} 1100w, {{section.settings.image | img_url: '800x'}} 800w, {{section.settings.image | img_url: '450x'}} 450w" class="banner-image">
    <div class="banner-content-wrapper">
      <div class="grid-container text-center">
        <h1 class="banner-title m-0">{{section.settings.title}}</h1>
        {% if section.settings.subtitle != blank %}
            <p class="banner-subtitle mt-10 mb-0">{{section.settings.subtitle}}</p>
        {% endif %}
        {% if section.settings.button-text != blank %}
            <a class="button button-light mt-30" href="{{section.settings.link}}">{{section.settings.button-text}}</a>
        {% endif %}
      </div>
    </div>
</div>

{% schema %}
    {
        "name": "Banner",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "Mobile Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle",
            "type": "text",
            "label": "Subtitle"
          },
          {
            "id": "button-text",
            "type": "text",
            "label": "Button Text"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button Link"
          }
        ],
        "presets": [
            {
                "name": "Banner",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
