<div class="section section-about-us-page-group m-mt-0">

    <div class="section mti-0 mbi-0 m-auto" style="max-width: 2000px;">
        <div class="cell-image cell medium-auto landing-image"  
            style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
                <div class="text-center landing-text">
                    <h1>{{section.settings.section_main_title}}</h1>
                    <h4>{{section.settings.section_subtitle}}</h4>
                </div>
        </div>
    </div>

    <div class="section m-mb-0">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="text-center text-block1 m-mt-0">
                    <h1 class="m-mb-20">{{section.settings.section_title}}</h1>
                    <p>{{section.settings.section_paragraph}}</p>
                    <span><h5><a href="{{section.settings.link1}}">{{section.settings.link1_name}}</a></h5></span>
                </div>
            </div>
        </div>
        <div class="cell-image cell medium-auto image-full-width wide-screen-only" 
            style="height: auto; width: 100%;">
            <img src="{{section.settings.image_2 | img_url: '1400x'}}" style="width: 100%;"/>
        </div>
        <div class="cell-image cell medium-auto image-full-width mobile-screen-only" 
            style="height: auto; width: 100%;">
            <img src="{{section.settings.image_2_mobile | img_url: '1400x'}}" style="width: 100%;"/>
        </div>
    </div>

    <div class="section m-mt-0 grey-section mbi-60 m-mb-0">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="text-center text-block1 m-mt-0">
                    <h1 class="mti-40 mbi-60 m-mb-30">{{section.settings.section_title_2}}</h1>
                    <p>{{section.settings.section_paragraph_2}}</p>
                </div>

                <div class="cell small-12 medium-6 large-6 wide-screen-only" style="padding-right: 60px; height: 900px;">
                    <div class="cell-image cell medium-auto m-h400" 
                        style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}'); 
                                height: 750px; 
                                width: 100%; 
                                background-size: contain;
                                background-position: top;
                                background-repeat: no-repeat;">
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6 wide-screen-only" style="height: 900px;">
                    <div class="cell-image cell medium-auto m-h300" 
                        style="background-image: url('{{section.settings.image_4 | img_url: '1400x'}}'); 
                                height: 400px; 
                                width: 100%; 
                                background-size: contain;
                                background-position: top;
                                background-repeat: no-repeat;">
                    </div>
                    <div class="section-line" style="margin-top: -70px;"></div>
                    <div class="text-center">
                        <p>{{section.settings.section_paragraph_3}}</p>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6 m-h500 mobile-screen-only" style="height: 900px;">
                    <div class="cell-image cell medium-auto m-h300" 
                        style="background-image: url('{{section.settings.image_3_4 | img_url: '1400x'}}'); 
                                height: 400px; 
                                width: 100%; 
                                background-size: contain;
                                background-position: top;
                                background-repeat: no-repeat;">
                    </div>
                    <div class="text-center">
                        <p>{{section.settings.section_paragraph_3}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section m-mt-0">
        <div class="grid-container">
            <div class="grid-x" style="align-items: flex-end;">
                
                <div class="cell small-12 medium-6 large-6 column-left">
                    <div class="section-line mti-10 mbi-50 m-mt-30 m-mb-20"></div>
                    <div class="text-center">
                        <h1>{{section.settings.section_title_3}}</h1>
                        <p>{{section.settings.section_paragraph_4}}</p>
                    </div>
                    <div class="cell-image cell medium-auto m-h300" 
                        style="background-image: url('{{section.settings.image_5 | img_url: '1400x'}}'); 
                                height: 400px; 
                                width: 100%; 
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;">
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-6 wide-screen-only column-right">
                    <div class="cell-image cell medium-auto" 
                        style="background-image: url('{{section.settings.image_6 | img_url: '1400x'}}'); 
                                height: 1000px; 
                                width: 100%; 
                                background-size: cover;
                                background-position: center;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-step-inside" data-autoload-class="StepInsideSection">

        <div class="section-line mti-80 mbi-60 m-mt-30 m-mb-20"></div>

        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-6">
                    <div class="text-center mb-15 text-container">
                        <h1>{{ section.settings.section_title_4 }}</h1>
                        <p class="lead">{{ section.settings.section_paragraph_5 }}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="glide slider">
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-chevron-right' %}</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-chevron-right' %}</button>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for block in section.blocks %}
                        <li class="glide__slide">
                            <div class="step-inside-item">
                                <a href="{{ block.settings.link }}" target="_blank">
                                    <img class="step-inside-item-image"
                                        src="{{ block.settings.image | img_url: '600x600', crop: 'center' }}"
                                        srcset="
                                        {{ block.settings.image | img_url: '300x300', crop: 'center' }} 300w,
                                        {{ block.settings.image | img_url: '400x400', crop: 'center' }} 400w,
                                        {{ block.settings.image | img_url: '500x500', crop: 'center' }} 500w,
                                        {{ block.settings.image | img_url: '600x600', crop: 'center' }} 600w"
                                        sizes="
                                        (min-width: 600px) 60vw,
                                        (min-width: 850px) 50vw,
                                        (min-width: 1024px) 33.3vw,
                                        (min-width: 1200px) 33.3vw,
                                        (min-width: 1400px) 33.3vw,
                                        80vw"
                                        alt="Image for {{ block.settings.title }}"
                                    />
                                    <div class="step-inside-item-content-container" style="padding: 40px 50px 20px 25px">
                                        <div class="step-inside-item-content">
                                            <div class="step-inside-item-content-subtitle">
                                                <h5>{{ block.settings.subtitle }}</h5>
                                            </div>
                                            <h2>{{ block.settings.title }}</h2>
                                        </div>
                                    </div>
                                </a>

                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>
    
</div>




{% schema %}
     {
         "name": "Brainchild Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Page Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Page Landing Background Image"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title 1"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph 1"
            },
            {
                "type": "text",
                "id": "link1_name",
                "label": "Link Section 1 Text"
            },
            {
                "type": "text",
                "id": "link1",
                "label": "Link Section 1"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Rolling Digit GIF"
            },
            {
                "type": "image_picker",
                "id": "image_2_mobile",
                "label": "Rolling Digit GIF Mobile"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title 2"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_2",
                "label": "Paragraph 2"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image Section 2 - Left"
            },
            {
                "type": "image_picker",
                "id": "image_4",
                "label": "Image Section 2 - Right"
            },
            {
                "type": "image_picker",
                "id": "image_3_4",
                "label": "Image Section 2 Mobile GIF"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_3",
                "label": "Paragraph Section 2 - Right"
            },
            {
                "type": "text",
                "id": "section_title_3",
                "label": "Title 3"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_4",
                "label": "Paragraph 3"
            },
            {
                "type": "image_picker",
                "id": "image_5",
                "label": "Image Section 3 - Left"
            },
            {
                "type": "image_picker",
                "id": "image_6",
                "label": "Image Section 3 - Right"
            },
            {
                "type": "text",
                "id": "section_title_4",
                "label": "Socks Slider Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_5",
                "label": "Socks Slider Paragraph"
            }
         ],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "subtitle",
                        "type": "text",
                        "label": "Subtitle"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            }
        ]
     }
 {% endschema %}
