<div class="section">
    <div class="cell-image cell medium-auto landing-image" 
        style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
            <div class="text-center landing-text">
                <h1>{{section.settings.section_main_title}}</h1>
                <h4>{{section.settings.section_subtitle}}</h4>
            </div>
    </div>
</div>

<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="text-center" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1>{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
                <span><b><a href="{{section.settings.link1}}">{{section.settings.link1_name}}</a></b></span>
            </div>
        </div>
    </div>
    <div class="cell-image cell medium-auto image-full-width" 
        style="height: auto; width: 100%;">
        <img src="{{section.settings.image_2 | img_url: '1400x'}}" style="width: 100%;"/>
    </div>
</div>









<div class="section" style="background-color: #eeeeee">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="text-center" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-top: 40px; margin-bottom: 60px">{{section.settings.section_title_2}}</h1>
                <p>{{section.settings.section_paragraph_2}}</p>
            </div>

            <div class="cell small-12 medium-6 large-6" style="padding-right: 60px; height: 65vh; max-height: 1150px;">
                <div class="cell-image cell medium-auto" 
                    style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}'); 
                            height: 60vh; 
                            max-height: 950px; 
                            width: 100%; 
                            background-size: cover;
                            background-position: center;">
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6" style="height: 65vh; max-height: 1150px;">
                <div class="cell-image cell medium-auto" 
                    style="background-image: url('{{section.settings.image_4 | img_url: '1400x'}}'); 
                            height: 30vh; 
                            max-height: 450px; 
                            width: 100%; 
                            background-size: cover;
                            background-position: center;">
                </div>
                <div style="width: 3px; height: 140px; background-color: #808080; margin: -70px auto 80px auto;"></div>
                <div class="text-center">
                    <p>{{section.settings.section_paragraph_3}}</p>
                    <span><b><a href="{{section.settings.link2}}">{{section.settings.link2_name}}</a></b></span>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="section">
    <div class="grid-container">
        <div class="grid-x" style="align-items: flex-end;">
            
            <div class="cell small-12 medium-6 large-6" style="padding-right: 30px;">
                <div style="width: 3px; height: 140px; background-color: #808080; margin: 50px auto 50px auto;"></div>
                <div style="text-align: center;">
                    <h1>{{section.settings.section_title_3}}</h1>
                    <p>{{section.settings.section_paragraph_4}}</p>
                </div>
                <div class="cell-image cell medium-auto" 
                    style="background-image: url('{{section.settings.image_5 | img_url: '1400x'}}'); 
                            height: 20vh; 
                            max-height: 730px; 
                            width: 100%; 
                            background-size: cover;
                            background-position: center;">
                </div>
            </div>

            <div class="cell small-12 medium-6 large-6" style="padding-left: 30px;">
                <div class="cell-image cell medium-auto" 
                    style="background-image: url('{{section.settings.image_6 | img_url: '1400x'}}'); 
                            height: 60vh; 
                            max-height: 780px; 
                            width: 100%; 
                            background-size: cover;
                            background-position: center;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div style="width: 3px; height: 140px; background-color: #808080; margin: 40px auto 10px auto;"></div>
            <div style="text-align: center; width: 1100px; margin: 40px 12vw 20px 12vw;">
                <h1>{{section.settings.section_title_4}}</h1>
                <p>{{section.settings.section_paragraph_5}}</p>
            </div>



            {% comment %} placeholder for bottom section {% endcomment %}

            <div style="text-align: center; width: 1100px; margin: 40px 10% 20px 10%;">
                <h2>section for bottom carousel links</h2>
            </div>



            
        </div>
    </div>
</div>

{% comment %} spacer section {% endcomment %}
<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle" style="height: 100px; background-color: white;">
        </div>
    </div>
</div>




<style>
    #container {
        text-align: justify;
        font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
    }
    #container div {
        display: inline-block;
    }
    #container:after {
        content: '';
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        display: inline-block;
    }


    .wide-screen-only {
        display: block;
    }
    .mobile-screen-only {
        display: none;
    }
    .column-left {
        padding-right: 30px;
    }
    .column-right {
        padding-left: 30px;
    }
    .landing-image {
        height: 600px; 
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    .landing-text {
        color: white; 
        padding-top: 200px;
    }
    .deco-line {
        width: 3px;
        height: 140px;
        background-color: #808080;
        margin: 40px auto 20px auto;
    }
    .image-full-width {
        height: 700px; 
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    .image-half-width {
        height: 700px;  
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    .bottom-images {
        height: 100%; 
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    
    .bottom-image-blocks {
        height: 23vw;
        max-height: 250px;
        width: 23vw;
        max-width: 250px;
        border-bottom: 1px solid white;
    }
    .bottom-image-blocks:hover {
        border-bottom: 1px solid black;
    }
    @media screen and (min-width: 641px) and (max-width: 800px) {
        .landing-image {
            height: 300px;
        }
        .landing-text {
            color: white; 
            padding-top: 100px;
        }
        .deco-line {
            width: 3px;
            height: 100px;
            background-color: #808080;
            margin: 20px auto 10px auto;
        }
        .image-full-width {
            height: 400px; 
            width: 100%; 
            background-size: cover;
            background-position: center;
        }
        .image-half-width {
            height: 600px;  
        }
    }
    @media screen and (max-width: 640px) {
        .wide-screen-only {
            display: none;
        }
        .mobile-screen-only {
            display: block;
        }
        .column-left {
            padding-right: 0;
        }
        .column-right {
            padding-left: 0;
        }
        .landing-image {
            height: 200px;
        }
        .landing-text {
            color: white; 
            padding-top: 50px;
        }
        .deco-line {
            width: 3px;
            height: 50px;
            background-color: #808080;
            margin: 20px auto 10px auto;
        }
        .image-full-width {
            height: 200px; 
            width: 100%; 
            background-size: cover;
            background-position: center;
        }
        .image-half-width {
            height: 300px;  
        }
        .bottom-image-blocks {
            height: 45vw;
            max-height: 250px;
            width: 45vw; 
            max-width: 250px;
            margin-bottom: 10px;
        }
    }

</style>


{% schema %}
     {
         "name": "Brainchild Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph"
            },
            {
                "type": "text",
                "id": "link1",
                "label": "Link1"
            },
            {
                "type": "text",
                "id": "link1_name",
                "label": "Link1 Name"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image2"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title2"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_2",
                "label": "Paragraph2"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image3"
            },
            {
                "type": "image_picker",
                "id": "image_4",
                "label": "Image4"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_3",
                "label": "Paragraph3"
            },
            {
                "type": "text",
                "id": "link2",
                "label": "Link2"
            },
            {
                "type": "text",
                "id": "link2_name",
                "label": "Link2 Name"
            },
            {
                "type": "text",
                "id": "section_title_3",
                "label": "Title3"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_4",
                "label": "Paragraph4"
            },
            {
                "type": "image_picker",
                "id": "image_5",
                "label": "Image5"
            },
            {
                "type": "image_picker",
                "id": "image_6",
                "label": "Image6"
            },
            {
                "type": "text",
                "id": "section_title_4",
                "label": "Title4"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_5",
                "label": "Paragraph5"
            }
         ]
     }
 {% endschema %}
