<div class="section section-foot-health-hub-slider no-margin" data-autoload-class="FootHealthHubSliderSection" >


  {% assign slide_count = section.blocks.size %}
  {% assign slide_index_limit = slide_count | minus: 1 %}

  <div class="slide-container">

    <div class="content-slider-container">
      <div>
        <div class="glide content-slider">
          <div data-glide-el="track" class="glide__track">
            <div class="glide__slides">
              {% for block in section.blocks %}
                <div class="glide__slide">
                  <div class="content-slider-content">
                    <div class="section-line"></div>
                    <div class="content-slider-content-subtitle">{{ block.settings.subtitle }}</div>
                    <div class="h2 content-slider-content-title">{{ block.settings.title }}</div>
                    <a class="button-link mt-20" href="{{ block.settings.button_link }}">
                      {{ block.settings.button_text }}
                      {% render 'icon-arrow-right' %}
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="image-slider-container">

        <div class="glide image-slider">
          <div data-glide-el="track" class="glide__track">
            <div class="glide__slides">
              {% for block in section.blocks %}
                <div class="glide__slide">
                  <img src="{{ block.settings.image | img_url: '635x510', crop: 'center' }}">
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="glide__navigation" data-glide-el="controls">
            <button data-glide-dir=">">More Topics {% render 'icon-arrow-right' %}</button>
          </div>
          {% comment %}
            <div class="glide__bullets" data-glide-el="controls[nav]">
              {% for i in (0..slide_index_limit) %}
                <button class="glide__bullet" data-glide-dir="={{ i }}"></button>
              {% endfor %}
            </div>
          {% endcomment %}
        </div>
      </div>

    </div>


</div>

{% schema %}
    {
        "name": "Foot Health Hub Slider",
        "blocks": [
          {
            "type": "slide",
            "name": "Slide",
            "settings": [
              {
                "id": "subtitle",
                "type": "text",
                "label": "Subtitle"
              },
              {
                "id": "title",
                "type": "text",
                "label": "Title"
              },
              {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"
              },
              {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
              },
              {
                "id": "image",
                "type": "image_picker",
                "label": "Image"
              }
            ]
          }
        ]
    }
{% endschema %}

