<div class="section section-newsletter">
  <div class="grid-container">
    <div class="text-center mb-30">
      <h2>{{section.settings.section_title}}</h2>
      <h3 class="h6 color-secondary-text">{{section.settings.section_subheading}}</h3>
    </div>


    <div class="grid-x align-center">
      <div class="cell small-12 medium-7 large-6">

        {% form 'customer' %}

        {% if form.posted_successfully? %}
          <p class="form-success mb-30">
            {{ 'general.newsletter_form.confirmation' | t }}
          </p>
        {% endif %}

        <input type="hidden" name="contact[tags]" value="newsletter">

        <div class="grid-x grid-margin-x grid-margin-y">

          {% if form.errors %}
          <div class="cell small-12">
            {{ form.errors | default_errors }}
          </div>
          {% endif %}

          <div class="cell small-12 medium-8">
            <input type="email"
            name="contact[email]"
            class="{% if form.errors contains 'email' %}input-error{% endif %}"
            id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
            autocorrect="off"
            autocapitalize="off">
          </div>

          <div class="cell small-12 medium-4">
            <input type="submit" class="button button-primary button-solid" value="{{ 'general.newsletter_form.submit' | t }}">
          </div>
        </div>

        {% endform %}

      </div>
    </div>
  </div>

</div>
{% stylesheet "scss" %}
.section.section-newsletter {
  background-color: darken(white, 5);
  background-color: var(--color-secondary);
  padding: 50px 0;

  input[type="email"] {
    border-color: transparent;
  }
}
{% endstylesheet %}
{% schema %}
{
  "name": "Subscribe",
  "settings": [
  {
    "type": "header",
    "content": "Section Title"
  },
  {
    "type": "text",
    "id": "section_title",
    "label": "Title"
  },
  {
    "type": "text",
    "id": "section_subheading",
    "label": "Subheading"
  }
  ],
  "presets": [
  {
    "name": "Subscribe",
    "category": "Forms"
  }
  ]
}
{% endschema %}
