<div class="section section-text-image no-margin">
    {% comment %} <div class="grid-container">
        <div class="grid-x align-middle" style="height: auto">
            <div class="cell small-12 medium-7 large-7">
                <div class="cell-text-container" style="padding: 20px; text-align: center; margin: 8%">
                    <div class="cell-image cell medium-auto">
                        <img src="{{section.settings.image_2 | img_url: '400x'}}" style="width: 210px; margin: auto">
                    </div>
                    <p style="line-height: normal;">{{section.settings.content}}</p>
                    <div class="cell shrink">
                        <a class="button button-primary" target="_blank" href="{{ section.settings.good_design_award }}">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="cell-image cell medium-auto good-design-award non-mobile-screen" style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}'); height: 400px; width: 100%; background-size: cover;">
            </div>
        </div>
    </div> {% endcomment %}

    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell medium-6 large-4">
                <div class="cell-text-container" style="padding: 20px; text-align: center; margin: 8%">
                    <div class="cell-image cell medium-auto">
                        <img src="{{section.settings.image_2 | img_url: '400x'}}" style="width: 210px; margin: auto">
                    </div>
                    <p style="line-height: normal;">{{section.settings.content}}</p>
                    <div class="cell shrink">
                        <a class="button button-primary" target="_blank" href="{{ section.settings.good_design_award }}">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="cell-image cell medium-auto">
                <div data-autoload-class="ComponentVideo" style="height:400px" class="wide-screen-only">
                    <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="400">
                        <source src="{{ section.settings.video }}" type="video/mp4">
                    </video>
                </div>

                <div data-autoload-class="ComponentVideo" style="height:200px; margin-bottom: 25px" class="mobile-screen-only">
                    <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="200">
                        <source src="{{ section.settings.video }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Good Design Award",
  "settings": [
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Good Design Award Icon"
    },
    {
        "type": "textarea",
        "id": "content",
        "label": "Content"
    },
    {
        "type": "url",
        "id": "good_design_award",
        "label": "Good Design Award URL link"
    },
    {
        "id": "video",
        "type": "text",
        "label": "Video",
        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
    }
  ]
}
{% endschema %}
