<div class="section section-text-image no-margin">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell medium-6 large-6">
                <div class="cell-text-container" style="padding: 20px">
                    <h2 class="h3 mb-20">GOOD DESIGN AWARD WINNER</h2>
                    <p class="mt-5 mb-0">
                        Our label provides women with an award-winning and
                        healthier option for on-trend footwear.
                        We live to create unique designs
                        that deliver style, innovation and performance—
                        investing in patenting and design registrations to
                        maintain the integrity of our brand.
                    </p>
                </div>
            </div>
            <div class="cell-image cell medium-auto">
              <img src="{{section.settings.image_1 | img_url: '1400x'}}" class="show-for-large" style="width: 400px; margin: 10px"
                    srcset="{{section.settings.image_1 | img_url: '1400x'}} 1400w, 
                            {{section.settings.image_1 | img_url: '1100x'}} 1100w, 
                            {{section.settings.image_1 | img_url: '800x'}} 800w, 
                            {{section.settings.image_1 | img_url: '450x'}} 450w">
            </div>
        </div>
    </div>
</div>