<header data-autoload-class="HeaderSection" data-section-id="{{ section.id }}" class="site-header" data-section-type="header-section">
  {% include 'promo-strip' %}
  <div class="toolbar">
    <div class="toolbar-wrapper grid-container h-100">

      <div class="grid-x align-middle align-justify h-100">

        <ul class="toolbar-items-left toolbar-items cell shrink">
          <li class="toolbar-item">
            <nav class="show-for-medium">
              <ul class="grid-x top-nav align-middle text-small">
                {% for link in linklists[section.settings.top_linklist].links %}
                  <li>
                    <a href="{{link.url}}">{{link.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </li>

          <li class="toolbar-item show-for-mobile-navigation">
            <button class="toolbar-item-inner js-mobile-nav-toggle" aria-label="Open Mobile Menu">
              {% include 'icon-hamburger' %}
            </button>
          </li>

          <li class="toolbar-item toolbar-item-search hide-for-medium">
            <button aria-label="{{ 'general.search.placeholder' | t }}" class="search-focusser toolbar-item-inner">{% include "icon-search" %}</button>
          </li>

        </ul>

        <div class="header-logo cell auto">
          <div class="header-logo-inner">
            <a href="/">
                {% if section.settings.logo != blank %}
                  <img src="{{ section.settings.logo | img_url: 'x40' }}" alt="logo"/>
                {% else %}
                  <span class="header-logo-text">{{ shop.name }}</span>
                {% endif %}
            </a>
          </div>
        </div>

        <ul class="align-right toolbar-items-right toolbar-items cell shrink">
          <li class="toolbar-item hide-for-mobile-navigation" {% if request.host == 'us.frankie4.com' or request.host == 'frankie4-united-states-store.myshopify.com' or request.host == 'nz.frankie4.com' or request.host == 'frankie4-new-zealand-store.myshopify.com' %} style="margin-right: 10px;"{% endif %}>
            {% include 'currency-picker' %}
          </li>
          <li class="toolbar-item toolbar-item-search">
            <button aria-label="{{ 'general.search.placeholder' | t }}" class="search-focusser toolbar-item-inner show-for-medium">{% include "icon-search" %}</button>
            {% include 'search-autocomplete' %}
          </li>
          {% comment %} <li class="toolbar-item">
            <a href="/pages/wishlist" data-shopify-wishlist-link class="toolbar-item-inner wishlist-link">
                {% include 'icon-heart' %}
            </a>
          </li> {% endcomment %}
          
          <li class="toolbar-item">
            <a href="/account" class="toolbar-item-inner">
                {% include 'icon-user' %}
            </a>
            {% if shop.customer_accounts_enabled %}
              <div class="toolbar-item__dropdown hide-for-mobile-navigation">
                {% if customer %}
                  <div class="button-group stacked">
                    <a class="button button-primary button-small"
                        href="/account">{{ 'layout.customer.view_account' | t }}</a>
                    <a class="button button-primary button-small"
                        href="/account/logout">{{ 'layout.customer.log_out' | t }}</a>
                  </div>
                {% else %}
                  <div class="button-group stacked">
                    <a class="button button-primary button-small"
                        href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
                    <a class="button button-primary button-small"
                        href="/account/login">{{ 'layout.customer.log_in' | t }}</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </li>

          <li class="toolbar-item">

                {% include 'interactive-cart' %}
                {% comment %}
                {{ cart.item_count }}
                {% endcomment %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="main-bar hide-for-mobile-navigation">

    <div class="grid-container h-100">

      <div class="main-bar-wrapper">

        <div class="main-bar-top">
          <div class="header-logo">
            <div class="header-logo-inner">
              <a href="/">
                  {% if section.settings.logo != blank %}
                    <img src="{{ section.settings.logo | img_url: '400x200' }}" alt="logo"/>
                  {% else %}
                    <span class="header-logo-text">{{ shop.name }}</span>
                  {% endif %}
              </a>
            </div>
          </div>
        </div>

        <div class="main-bar-bottom">
            {% include 'navigation' %}
        </div>
      </div>

    </div>
  </div>

  {% include 'navigation-mobile' %}

</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "main_linklist_mobile",
        "label": "Main Menu Mobile",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "top_linklist",
        "label": "Top Menu"
      },
      {
        "type": "header",
        "content": "Mega Menu"
      },
      {
        "type": "text",
        "id": "mega_menu_first",
        "label": "Menu Edit"
      },
      {
        "type": "text",
        "id": "mega_menu_second",
        "label": "Menu Edit - no text"
      },
      {
        "type": "text",
        "id": "mega_menu_handle",
        "label": "Menu 1 name",
        "info": "Enter the top level menu item name to attach the mega menu to. Leave blank to disable mega menu."
      },
      {
        "type": "image_picker",
        "id": "mega_menu_image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "mega_menu_text_1",
        "label": "Text 1"
      },
      {
        "id": "mega_menu_image_url_1",
        "type": "url",
        "label": "Image 1 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "mega_menu_text_2",
        "label": "Text 2"
      },
      {
        "id": "mega_menu_image_url_2",
        "type": "url",
        "label": "Image 2 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_image_3",
        "label": "Image 3"
      },
      {
        "type": "text",
        "id": "mega_menu_text_3",
        "label": "Text 3"
      },
      {
        "id": "mega_menu_image_url_3",
        "type": "url",
        "label": "Image 3 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_image_4",
        "label": "Image 4"
      },
      {
        "type": "text",
        "id": "mega_menu_text_4",
        "label": "Text 4"
      },
      {
        "id": "mega_menu_image_url_4",
        "type": "url",
        "label": "Image 4 Link"
      },
      {
        "type": "header",
        "content": "Mega Menu 2"
      },
      {
        "type": "text",
        "id": "mega_menu_2_handle",
        "label": "Mega Menu 2 Name",
        "info": "Enter the top level menu item name to attach the mega menu to. Leave blank to disable mega menu."
      },
      {
        "type": "image_picker",
        "id": "mega_menu_2_image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "mega_menu_2_text_1",
        "label": "Text 1"
      },
      {
        "id": "mega_menu_2_image_url_1",
        "type": "url",
        "label": "Image 1 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_2_image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "mega_menu_2_text_2",
        "label": "Text 2"
      },
      {
        "id": "mega_menu_2_image_url_2",
        "type": "url",
        "label": "Image 2 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_2_image_3",
        "label": "Image 3"
      },
      {
        "type": "text",
        "id": "mega_menu_2_text_3",
        "label": "Text 3"
      },
      {
        "id": "mega_menu_2_image_url_3",
        "type": "url",
        "label": "Image 3 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_2_image_4",
        "label": "Image 4"
      },
      {
        "type": "text",
        "id": "mega_menu_2_text_4",
        "label": "Text 4"
      },
      {
        "id": "mega_menu_2_image_url_4",
        "type": "url",
        "label": "Image 4 Link"
      },
      {
        "type": "header",
        "content": "Mega Menu 3"
      },
      {
        "type": "text",
        "id": "mega_menu_3_handle",
        "label": "Mega Menu 3 Name",
        "info": "Enter the top level menu item name to attach the mega menu to. Leave blank to disable mega menu."
      },
      {
        "type": "image_picker",
        "id": "mega_menu_3_image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "mega_menu_3_text_1",
        "label": "Text 1"
      },
      {
        "id": "mega_menu_3_image_url_1",
        "type": "url",
        "label": "Image 1 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_3_image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "mega_menu_3_text_2",
        "label": "Text 2"
      },
      {
        "id": "mega_menu_3_image_url_2",
        "type": "url",
        "label": "Image 2 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_3_image_3",
        "label": "Image 3"
      },
      {
        "type": "text",
        "id": "mega_menu_3_text_3",
        "label": "Text 3"
      },
      {
        "id": "mega_menu_3_image_url_3",
        "type": "url",
        "label": "Image 3 Link"
      },
      {
        "type": "image_picker",
        "id": "mega_menu_3_image_4",
        "label": "Image 4"
      },
      {
        "type": "text",
        "id": "mega_menu_3_text_4",
        "label": "Text 4"
      },
      {
        "id": "mega_menu_3_image_url_4",
        "type": "url",
        "label": "Image 4 Link"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
