<div class="section">
    <div class="cell-image cell medium-auto" 
        style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}'); 
            height: 600px; 
            width: 100%; 
            background-size: cover;
            background-position: center;">
            <div style="color: white; text-align: center; padding-top: 200px;">
                <h1>{{section.settings.section_main_title}}</h1>
                <h4>{{section.settings.section_subtitle}}</h4>
            </div>
    </div>
</div>

<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div style="width: 3px; height: 140px; background-color: #808080; margin: 40px auto 10px auto;"></div>
            <div style="text-align: center; width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
            </div>
            <div class="cell-image cell medium-auto" 
                style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}'); 
                    height: 700px; 
                    width: 100%; 
                    background-size: cover;
                    background-position: center;">
            </div>
        </div>
    </div>
</div>

{% schema %}
     {
         "name": "High Heels Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image2"
            }
         ]
     }
 {% endschema %}
