<div class="section section-media-wayfinder">

    <div class="media-block-container grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">

            {% for block in section.blocks %}

                {% assign width = block.settings.width %}
                {% assign cell_class = '' %}
                {% assign image_width = '1200x' %}

                {% if width == "1-3" %}
                    {% assign cell_class = "medium-4" %}
                    {% assign image_width = '450x' %}
                {% elsif width == "1-2" %}
                    {% assign cell_class = "medium-6" %}
                    {% assign image_width = '600x' %}
                {% elsif width == "2-3" %}
                    {% assign cell_class = "medium-8" %}
                    {% assign image_width = '1200x' %}
                {% endif %}

                <div class="cell media-block {{ cell_class }}{% if block.settings.hide_for_mobile %} show-for-medium{% endif %}">

                    {% comment %} Added by PSFED @ Shopify - April 12 2019 {% endcomment %}
                    {% if block.settings.link != blank and block.settings.link_text == blank %}
                      <a href="{{ block.settings.link }}">
                    {% endif %}

                    {% if block.settings.video != blank %}
                        <div class="component-video" data-autoload-class="ComponentVideo">
                            <video class="lazyload" preload="none" autoplay="" loop="" muted=""
                                   playsinline controls="controls"
                                   width="1280" height="720"
                                   data-src="{{block.settings.video }}">
                            </video>
                        </div>

                    {% elsif block.settings.image != blank %}

                        <picture>
                            {% if block.settings.mobile_image %}
                                <source media="(max-width:640px)" data-srcset="{{block.settings.mobile_image | img_url: '600x'}}">
                            {% endif %}
                            <img data-src="{{block.settings.image | img_url: image_width}}" alt="{{block.settings.title}}" class="lazyload media-block-image">
                        </picture>

                    {% endif %}



                    {% if block.settings.title != blank or block.settings.link_text != blank %}
                        <div class="media-block-content-wrapper grid-y align-right align-middle h-100">
                            <div class="media-block-content cell text-center">
                                {% if block.settings.title != blank %}
                                    <h2 class="extrabold m-0">{{ block.settings.title }}</h2>
                                {% endif %}
                                {% if block.settings.link_text != blank %}
                                    <span class="arrow-link color-secondary-text">
                                        {{ block.settings.link_text }}
                                        {% include 'icon-chevron-right' %}
                                    </span>
                                    {% if block.settings.link != blank %}
                                        <a href="{{ block.settings.link }}" class="cover-link"></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% comment %} Added by PSFED @ Shopify - April 12 2019 {% endcomment %}
                    {% if block.settings.link != blank and block.settings.link_text == blank %}
                      </a>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>

</div>

{% schema %}
    {
        "name": "Media Wayfinder",
        "settings": [
        ],
        "blocks": [
            {
                "type": "media_block",
                "name": "Media Block",
                "settings": [
                    {
                        "type": "radio",
                        "id": "width",
                        "options": [
                            { "value": "1-3", "label": "1/3"},
                            { "value": "1-2", "label": "1/2"},
                            { "value": "2-3", "label": "2/3"},
                            { "value": "1-1", "label": "Full"}
                        ],
                        "label": "Media Block Width"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Background Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_image",
                        "label": "Mobile Background Image"
                    },
                    {
                        "type": "checkbox",
                        "id": "hide_for_mobile",
                        "label": "Hide for mobile"
                    },
                    {
                        "type": "text",
                        "id": "video",
                        "label": "Video",
                        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "link_text",
                        "label": "Link Text"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Media Wayfinder",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
