{% comment %}
Custom logic to get related products.
Related products are any product that shares one or more collections with the current product.
The section has an option to exclude collections. This is useful for excluding general collections
such as 'featured' or 'all'.
{% endcomment %}

{% assign excluded_collections = section.settings.exclude_collections | split: "," %}
{% assign related_collections = '' %}
{% assign related_test_tags = '' %}

{{product.type}}
{% if product.type == 'SNEAKER' %}
    {% assign related_collections = 'dress-flats' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'SOCKS' %}
    {% assign related_collections = 'shop-all-sneakers' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'Shoelace' %}
    {% assign related_collections = 'shop-all-sneakers' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'DRESS FLAT' or product.type == 'CASUAL FLAT' or product.type == 'BALLET FLAT' %}
    {% assign related_collections = 'active' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'SLIDE' %}
    {% assign related_collections = 'ballet-flats' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'BOOT' %}
    {% assign related_collections = 'shop-all-heels' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'SANDAL' %}
    {% assign related_collections = 'ballet-flats' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% elsif product.type == 'HEEL' %}
    {% assign related_collections = 'shop-all-boots' %}
    {% for tag in product.tags %}
        {% if tag contains 'test_' %}
            {% if related_test_tags != '' %}
                {% assign related_test_tags = related_test_tags | append: ',' %}
            {% endif %}
            {% assign related_test_tags = related_test_tags | append: tag %}
        {% endif %}
    {% endfor %}
    {{related_test_tags}}
{% else %}
    {% for collection in product.collections %}
        {% unless excluded_collections contains collection.handle %}
            {% if related_collections != '' %}
                {% assign related_collections = related_collections | append: ',' %}
            {% endif %}
            {% assign related_collections = related_collections | append: collection.handle %}
        {% endunless %}
    {% endfor %}
    {% assign related_collections = related_collections | split: "," %}
{% endif %}




    <div class="section section-related-products large-margin">

         <div class="grid-container related-products-container">

             <div class="title-block text-center mb-30">
                <h2 class="h1 m-0">{{section.settings.section_title}}</h2>
                 {% if section.settings.section_subheading != blank %}
                     <p class="lead color-secondary-text mt-5 mb-0">{{section.settings.section_subheading}}</p>
                 {% endif %}
            </div>

            <div class="grid-x grid-margin-x grid-margin-y">
              {% assign related_products_count = 1 %}


              {% for related_collection in related_collections %}
                {% for related_product in collections[related_collection].products %}
                    {% comment %} {{related_product}}
                    {{related_product.handle}}
                    {{related_product.type}}
                    {{related_product.title}}
                    {{related_product.tags}} {% endcomment %}
                    {% if related_product.handle == product.handle or related_products_count > 4 %}
                        {% continue %}
                    {% endif %}

                    {% assign tag_group = false %}

                    {% for tag in related_product.tags %}
                        {% if tag contains 'test_' and related_test_tags contains tag%}
                            {% comment %} {{tag}} {% endcomment %}
                            {% assign tag_group = true %}
                        {% endif %}
                    {% endfor %}

                    {% if tag_group == true %}
                        <div class="cell small-6 large-3">
                        {% render 'product-tile', product: related_product %}
                        </div>
                        {% assign related_products_count = related_products_count | plus: 1 %}
                    {% endif %}

                {% endfor %}
              {% endfor %}

              {% comment %} no related group situation {% endcomment %}
              {% if related_products_count < 4 %}
                {% assign related_collection = 'best-sellers-1' %}
                {% for related_product in collections[related_collection].products %}
                    {% if related_product.handle == product.handle or related_products_count > 4 %}
                        {% continue %}
                    {% endif %}
                    <div class="cell small-6 large-3">
                        {% render 'product-tile', product: related_product %}
                    </div>
                    {% assign related_products_count = related_products_count | plus: 1 %}
                {% endfor %}
              {% endif %}

            </div>
        </div>
    </div>

{% schema %}

{
    "name": "Related Products",
    "settings": [
        {
            "type": "header",
            "content": "Section Title"
        },
        {
            "type": "text",
            "id": "section_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "section_subheading",
            "label": "Subheading"
        },
        {
            "type": "text",
            "id": "exclude_collections",
            "label": "Exclude Collections",
            "info": "Add comma separated list of collection handles to exclude from related products."
        }
    ]
}

{% endschema %}
