<div data-autoload-class="ShippingSection" class="section section-shipping">
    <div class="grid-container">

        <div class="grid-x">
            <div class="cell large-9 large-offset-3">

                <div class="title-block mb-30">
                    <h2 class="h1 m-0">Shipping.</h2>
                </div>

                {% if section.blocks !=  blank %}

                    <div class="tabs-container">

                        <div class="tabs">
                            <div class="tabs-title" data-panel="australia">Australia</div>
                            <div class="tabs-title" data-panel="international">International</div>
                        </div>

                        <div class="tabs-content">
                            <div class="tabs-panel" id="australia">

                                <div class="tabs">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'australia_cities' %}
                                            <div class="tabs-title" data-panel="{{ block.settings.city | downcase | replace: ' ', '-' }}">{{ block.settings.city }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="tabs-content">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'australia_cities' %}
                                            <div class="tabs-panel" id="{{ block.settings.city | downcase | replace: ' ', '-' }}">
                                                {{ block.settings.table }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="tabs-panel" id="international">

                                <div class="tabs">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'international_cities' %}
                                            <div class="tabs-title" data-panel="{{ block.settings.city | downcase | replace: ' ', '-' }}">{{ block.settings.city }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="tabs-content">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'international_cities' %}
                                            <div class="tabs-panel" id="{{ block.settings.city | downcase | replace: ' ', '-' }}">
                                                {{ block.settings.table }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                    </div>
                {% endif %}

            </div>
        </div>


    </div>
</div>


{% schema %}
     {
         "name": "Shipping Tabs",
         "settings": [
         ],
         "blocks": [
             {
                 "type": "australia_cities",
                 "name": "Australia",
                 "settings": [
                    {
                        "type": "text",
                        "id": "city",
                        "label":"City Name"
                    },
                    {
                        "type": "html",
                        "id": "table",
                        "label":"Custom HTML"
                    }
                 ]
             },
            {
                "type": "international_cities",
                "name": "International",
                "settings": [
                    {
                        "type": "text",
                        "id": "city",
                        "label":"City Name"
                    },
                    {
                        "type": "html",
                        "id": "table",
                        "label":"Custom HTML"
                    }
                ]
            }
         ]
     }
 {% endschema %}
