<div class="section section-shipping-accordion no-margin-top">

    <div class="heading-container" style="background-image: url({{ section.settings.heading_image | img_url: '1000x'}})">
        <div>
           {{ section.settings.heading_title }}
        </div>
    </div>

    <div class="grid-container">

    {% if section.blocks !=  blank %}

        <div class="grid-x grid-margin-x">
            <div class="cell medium-7 large-8">
                <div class="shipping-accordion">
                    {% for block in section.blocks %}
                        {% if block.type == 'category_title' %}
                            <h4 class="accordion-title" id="accordion-group-{{ forloop.index }}">{{ block.settings.title }}</h4>
                        {% endif %}

                        {% if block.type == 'accordion_item' %}
                            <div aria-controls="accordion-item-{{ forloop.index }}" data-autoload-class="ComponentAccordionItem" class="accordion-toggle">
                                <h6 class="accordion-toggle-title">{{block.settings.title}}</h6>
                                <span class="open-icon">{% include 'icon-plus' %}</span>
                                <span class="close-icon">{% include 'icon-minus' %}</span>
                            </div>
                            <div class="grid-x accordion accordion-body rte" id="accordion-item-{{ forloop.index }}" aria-expanded="false">
                                {{ block.settings.content }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

          <div class="cell medium-5 large-4">

            <div class="contact-details">
              <h5>Still have any questions</h5>

              <div class="flex-container">
                <div class="shrink">{% include "icon-phone" %}</div>
                <div class="auto">
                    <a href="tel:1300 721 898">1300 721 898</a>
                    <div class="text-small">
                        {% if request.host == 'us.frankie4.com' or request.host == 'frankie4-united-states-store.myshopify.com' %}
                            <!-- US -->
                            9am - 6pm GMT
                        {% elsif request.host == 'nz.frankie4.com' or request.host == 'frankie4-new-zealand-store.myshopify.com' %}
                            <!-- NZ -->
                            11am - 8pm NZST
                        {% else %}
                            <!-- AU -->
                            9am - 6pm AEST
                        {% endif %}
                    </div>
                </div>
              </div>

              <div class="flex-container">
                <div class="shrink">{% include "icon-email" %}</div>
                {% if request.host == 'us.frankie4.com' or request.host == 'frankie4-united-states-store.myshopify.com' %}
                    <!-- US -->
                    <div class="auto"><a href="mailto:info@frankie4.com.au">info@frankie4.com</a></div>
                {% elsif request.host == 'nz.frankie4.com' or request.host == 'frankie4-new-zealand-store.myshopify.com' %}
                    <!-- NZ -->
                    <div class="auto"><a href="mailto:info@frankie4.co.nz">info@frankie4.co.nz</a></div>
                {% else %}
                    <!-- AU -->
                    <div class="auto"><a href="mailto:info@frankie4.com.au">info@frankie4.com.au</a></div>
                {% endif %}
              </div>

              <div class="flex-container">
                <div class="shrink">{% include "icon-user" %}</div>
                <div class="auto">Online chat - click bottom right corner</div>
              </div>



            </div>


          </div>
        </div>
        {% endif %}
    </div>
</div>


{% schema %}
     {
         "name": "Shipping Accordion",
         "settings": [
          {
          "id": "heading_title",
          "type": "text",
          "label": "Page Heading"
          },
          {
          "id": "heading_image",
          "type": "image_picker",
          "label": "Feature Image"
          }
         ],
         "blocks": [
             {
                 "type": "category_title",
                 "name": "Category Title",
                 "settings": [
                     {
                         "type": "text",
                         "id": "title",
                         "label":"Title"
                     }
                 ]
             },
             {
                  "type": "accordion_item",
                  "name": "Accordion Item",
                  "settings": [
                      {
                          "type": "text",
                          "id": "title",
                          "label":"Item Title"
                      },
                      {
                        "type": "richtext",
                        "id": "content",
                        "label":"Item Content"
                      }
                  ]
              }
         ]
     }
 {% endschema %}
