<div data-autoload-class="SneakerGuideTabsSection" class="section section-sneaker-guide-tabs no-margin">


  {% comment %}
    Top Slider for Shoes
  {% endcomment %}
  <div class="grid-container">

    {% comment %} <h2 class="mt-40 mb-40 text-center">{{ section.settings.section_title }}</h2> {% endcomment %}
    <p class="text-center mti-0 mbi-0 show-for-medium">{{ section.settings.hint }}</p>
    <p class="text-center mti-0 mbi-0 show-for-small-only" style="font-size: 10px">{{ section.settings.hint }}</p>

    <div class="glide sneaker-guide-nav-slider">
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">

          {% for block in section.blocks %}
            <div class="glide__slide">
              <div data-slide="={{ forloop.index0 }}">
                <img class="sneaker-guide-nav-slider-image" src="{{ block.settings.sneaker_image | img_url: '200x100', crop: 'center' }}"/>
                <div class="sneaker-guide-nav-slider-title">{{ block.settings.title }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% include "icon-chevron" %}</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% include "icon-chevron" %}</button>
      </div>
    </div>

  </div>




  {% comment %}
    Bottom Content
  {% endcomment %}

  <div class="sneaker-guide-content-container" style="padding: 0">

    {% for block in section.blocks %}
      <div class="sneaker-guide-content{% if forloop.index0 == 0 %} active{% endif %}" data-content-index="{{ forloop.index0 }}">

        <div class="grid-container">
          <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-3 flex-container align-right">
              <div class="sneaker-guide-content-text m-mt-30">
                <h3 style="font-family: Montserrat">{{ block.settings.title }}</h3>
                {{ block.settings.content }}
                <a class="sneaker-guide-button" href="{{ block.settings.url }}">{{ block.settings.button_text }} {% include 'icon-arrow-right' %}</a>
              </div>

            </div>
            <div class="cell medium-9">
              <div class="glide sneaker-guide-content-slider sneaker-guide-content-slider-{{ forloop.index0 }}">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides" style="margin: 0">
                    <li class="glide__slide slider_height">
                      <img class="show-for-medium" src="{{ block.settings.image1 | img_url: '1788x1000'}}"/>
                      <img class="show-for-small-only" src="{{ block.settings.image2 | img_url: '872x500'}}"/>
                    </li>
                  </ul>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>
    {% endfor %}

  </div>
</div>


{% schema %}
    {
        "name": "Sneaker Guide Tabs",
          "settings": [
            {
            "id": "section_title",
            "type": "text",
            "label": "Section title"
            },
            {
            "id": "hint",
            "type": "text",
            "label": "Click hint"
            }
        ],
        "blocks": [
            {
                "type": "sneaker_slide",
                "name": "Sneaker Slide",
                "settings": [
                    {
                        "id": "sneaker_image",
                        "type": "image_picker",
                        "label": "Sneaker Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "content",
                        "type": "richtext",
                        "label": "content"
                    },
                    {
                        "id": "button_text",
                        "type": "text",
                        "label": "Button Text"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    },
                    {
                        "id": "image1",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "image2",
                        "type": "image_picker",
                        "label": "Image mobile"
                    }
                ]
            }
        ]
    }
{% endschema %}
