<div data-autoload-class="SneakerGuideTabsSection" class="section section-sneaker-guide-tabs no-margin" style="background-color: #F5F5F5;">


  {% comment %}
    Top Slider for Shoes
  {% endcomment %}
  {% comment %} <div class="grid-container">
    <div style="padding: 60px 0 60px 0; width: 100%;"><h1 class="mt-40 mb-40 text-center">{{ section.settings.section_title }}</h1></div>
    {% for block in section.blocks %}
      <div class="glide__slide" style="float: left; width: 16vw; max-width: 250px">
        <div style="width: 16vw; max-width: 250px">
          <img class="sneaker-guide-nav-slider-image" src="{{ block.settings.sneaker_image | img_url: '250x250', crop: 'center' }}"/>
          <div class="sneaker-guide-nav-slider-title">{{ block.settings.title }}</div>
        </div>
      </div>
    {% endfor %}
  </div> {% endcomment %}

  <div class="grid-container">

    <div style="padding: 60px 0 60px 0; width: 100%;"><h1 class="mt-40 mb-40 text-center">{{ section.settings.section_title }}</h1></div>

    <div class="glide sneaker-guide-nav-slider">
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">

          {% for block in section.blocks %}
            <div class="glide__slide">
              <div data-slide="={{ forloop.index0 }}">
                <img class="sneaker-guide-nav-slider-image" src="{{ block.settings.sneaker_image | img_url: '380x380', crop: 'center' }}"/>
                <div class="sneaker-guide-nav-slider-title">{{ block.settings.title }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>






  {% comment %}
    Bottom Content
  {% endcomment %}

  <div class="sneaker-guide-content-container">

    {% for block in section.blocks %}
      <div class="sneaker-guide-content{% if forloop.index0 == 0 %} active{% endif %}" data-content-index="{{ forloop.index0 }}">

        <div class="grid-container">
          <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-5 flex-container align-right">
              <div class="sneaker-guide-content-text">
                <h2>{{ block.settings.title }}</h2>
                {{ block.settings.content }}
                <a class="sneaker-guide-button" href="{{ block.settings.url }}">{{ block.settings.button_text }} {% include 'icon-arrow-right' %}</a>
              </div>

            </div>
            <div class="cell medium-7">

              <div class="glide sneaker-guide-content-slider sneaker-guide-content-slider-{{ forloop.index0 }}">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    {% if block.settings.image1 != blank %}
                      <li class="glide__slide"><img src="{{ block.settings.image1 | img_url: '670x510', crop: 'center' }}"/></li>
                    {% endif %}
                    {% if block.settings.image2 != blank %}
                      <li class="glide__slide"><img src="{{ block.settings.image2 | img_url: '670x510', crop: 'center' }}"/></li>
                    {% endif %}
                    {% if block.settings.image3 != blank %}
                      <li class="glide__slide"><img src="{{ block.settings.image3 | img_url: '670x510', crop: 'center' }}"/></li>
                    {% endif %}
                    {% if block.settings.image4 != blank %}
                      <li class="glide__slide"><img src="{{ block.settings.image4 | img_url: '670x510', crop: 'center' }}"/></li>
                    {% endif %}
                  </ul>
                </div>

                <div class="glide__bullets" data-glide-el="controls[nav]">
                  {% if block.settings.image1 != blank %}
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                  {% endif %}
                  {% if block.settings.image2 != blank %}
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                  {% endif %}
                  {% if block.settings.image3 != blank %}
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                  {% endif %}
                  {% if block.settings.image4 != blank %}
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                  {% endif %}
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>
    {% endfor %}

  </div>
</div>


{% schema %}
    {
        "name": "Sneaker Guide Tabs",
          "settings": [
            {
            "id": "section_title",
            "type": "text",
            "label": "Section title"
            }
        ],
        "blocks": [
            {
                "type": "sneaker_slide",
                "name": "Sneaker Slide",
                "settings": [
                    {
                        "id": "sneaker_image",
                        "type": "image_picker",
                        "label": "Sneaker Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "content",
                        "type": "richtext",
                        "label": "content"
                    },
                    {
                        "id": "button_text",
                        "type": "text",
                        "label": "Button Text"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    },
                    {
                        "id": "image1",
                        "type": "image_picker",
                        "label": "Image 1"
                    },
                    {
                        "id": "image2",
                        "type": "image_picker",
                        "label": "Image 2"
                    },
                    {
                        "id": "image3",
                        "type": "image_picker",
                        "label": "Image 3"
                    },
                    {
                        "id": "image4",
                        "type": "image_picker",
                        "label": "Image 4"
                    }
                ]
            }
        ]
    }
{% endschema %}
