<div class="section" style="margin-top: 0; margin-bottom: 0">
    <div class="cell-image cell medium-auto landing-image" 
        style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
            <div class="text-center landing-text">
                <h1>{{section.settings.section_main_title}}</h1>
                <h4>{{section.settings.section_subtitle}}</h4>
            </div>
    </div>
</div>

<div class="section mobile-style1">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="deco-line mobile-style1 mobile-style2"></div>
            <div class="text-center mobile-style3 mobile-style1" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
            </div>
            <div data-autoload-class="ComponentVideo">
                <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="675px" class="mobile-video" controls="controls">
                    <source src="{{ section.settings.video }}" type="video/mp4">
                </video>
            </div>
            <div style="text-align: right; width: 100%; margin: 0 0 0 1px;">
                <p class="small-text" style="margin-bottom: 0;">{{section.settings.section_patent}}</p>
            </div>
        </div>
    </div>
</div>

<div class="section mobile-style2" style="margin-top: 10px; margin-bottom: 0;">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="deco-line mobile-style2 mobile-style5" style="margin-bottom: 40px"></div>
        </div>
    </div>
</div>

<div class="section" style="margin-top: 0;">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-6 large-6 column-left">
                <div class="text-left">
                    <h1>{{section.settings.section_title_2}}</h1>
                    {{section.settings.section_paragraph_2}}
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-right">
                <div class="cell-image cell medium-auto image-half-width mobile-style7 mobile-style3" 
                    style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');
                    height: 900px;
                    background-size: contain;
                    background-repeat: no-repeat;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="text-center text-block2 mobile-style1" style="width: 100%; max-width: 1200px">
                <img class="mobile-width" src="{{section.settings.quote_image_1 | img_url: '60x'}}"/>

                <div class="glide1" data-autoload-class="SimpleGlideSection" style="width: 100%; max-width: 1200px">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide" style="width: 1200px">
                                <p class="quote-text">{{section.settings.section_quote}}</p>
                                <p>{{section.settings.section_name}}</p>
                            </li>
                            <li class="glide__slide" style="width: 1200px">
                                <p class="quote-text">{{section.settings.section_quote2}}</p>
                                <p>{{section.settings.section_name2}}</p>
                            </li>
                            <li class="glide__slide" style="width: 1200px">
                                <p class="quote-text">{{section.settings.section_quote3}}</p>
                                <p>{{section.settings.section_name3}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="glide__bullets wide-screen-only" data-glide-el="controls[nav]" style="width: 52%; max-width: 625px; position: relative;">
                        <button class="glide__bullet" data-glide-dir="=0"></button>
                        <button class="glide__bullet" data-glide-dir="=1"></button>
                        <button class="glide__bullet" data-glide-dir="=2"></button>
                    </div>
                    <div class="glide__bullets mobile-screen-only" data-glide-el="controls[nav]" style="width: 45%; max-width: 625px; position: relative;">
                        <button class="glide__bullet" data-glide-dir="=0"></button>
                        <button class="glide__bullet" data-glide-dir="=1"></button>
                        <button class="glide__bullet" data-glide-dir="=2"></button>
                    </div>
                    <style>
                        .glide__bullet--active {
                            background-color: black!important;
                        } 
                        .glide__bullet {
                            background-color: grey;
                        }
                        .glide__bullet:hover, .glide__bullet:focus {
                            background-color: black;
                            border-color: black;
                        }
                    </style>
                </div>

                
                <img class="mobile-width" src="{{section.settings.quote_image_2 | img_url: '60x'}}"/>
            </div> 
            <div class="deco-line"></div>
        </div>
    </div>
</div>

<style>
    @media screen and (max-width: 640px) {
        .mobile-style1 {
            margin-bottom: 0!important;
        }
        .mobile-style2 {
            margin-top: 0!important;
        }
        .mobile-style3 {
            margin-top: 25px!important;
        }
        .mobile-style4 {
            margin-top: 40px!important;
            margin-bottom: 30px!important;
        }
        .mobile-style5 {
            margin-bottom: 20px!important;
        }
        .mobile-style6 {
            height: 280px!important;
        }
        .mobile-style7 {
            height: 500px!important;
        }
    }
</style>


{% schema %}
     {
         "name": "Sole Saver Pack Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph"
            },
            {
                "type": "textarea",
                "id": "section_patent",
                "label": "Patent"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image2"
            },
            {
                "id": "video",
                "type": "text",
                "label": "Video",
                "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image3"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title2"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_2",
                "label": "Paragraph2"
            },
            {
                "type": "image_picker",
                "id": "quote_image_1",
                "label": "Quote Image 1"
            },
            {
                "type": "image_picker",
                "id": "quote_image_2",
                "label": "Quote Image 2"
            },
            {
                "type": "textarea",
                "id": "section_quote",
                "label": "Quote"
            },
            {
                "type": "text",
                "id": "section_name",
                "label": "Name"
            },
            {
                "type": "textarea",
                "id": "section_quote2",
                "label": "Quote2"
            },
            {
                "type": "text",
                "id": "section_name2",
                "label": "Name2"
            },
            {
                "type": "textarea",
                "id": "section_quote3",
                "label": "Quote3"
            },
            {
                "type": "text",
                "id": "section_name3",
                "label": "Name3"
            }
         ]
     }
 {% endschema %}
