<div class="section">
    <div class="cell-image cell medium-auto landing-image" 
        style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
            <div class="text-center landing-text">
                <h1>{{section.settings.section_main_title}}</h1>
                <h4>{{section.settings.section_subtitle}}</h4>
            </div>
    </div>
</div>

<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-6 large-6 column-left wide-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');">
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-right">
                <div class="deco-line"></div>
                <div class="text-center">
                    <h1>{{section.settings.section_title}}</h1>
                    <p>{{section.settings.section_paragraph}}</p>
                    <span><b><a href="{{section.settings.link1}}">{{section.settings.link1_name}}</a></b></span>
                </div>
                <div class="deco-line"></div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-left mobile-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-12 large-12 wide-screen-only">
                <div class="cell-image cell medium-auto image-full-width" 
                    style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');">
                </div>
                <div class="text-right" style="width: 100%; margin: 0 0 0 1px;">
                    <p>{{section.settings.section_patent}}</p>
                </div>
            </div>
            
            <div class="text-center" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title_2}}</h1>
                <p>{{section.settings.section_paragraph_2}}</p>
            </div>
            
            <div class="cell small-12 medium-12 large-12 mobile-screen-only">
                <div class="cell-image cell medium-auto image-full-width" 
                    style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');">
                </div>
                <div class="text-right" style="width: 100%; margin: 0 0 0 1px;">
                    <p>{{section.settings.section_patent}}</p>
                </div>
            </div>
            
            <div class="deco-line"></div>
        </div>
    </div>
</div>

<style>
    #container {
        text-align: justify;
        font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
    }
    #container div {
        display: inline-block;
    }
    #container:after {
        content: '';
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        display: inline-block;
    }


    .wide-screen-only {
        display: block;
    }
    .mobile-screen-only {
        display: none;
    }
    .column-left {
        padding-right: 30px;
    }
    .column-right {
        padding-left: 30px;
    }
    .landing-image {
        height: 600px; 
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    .landing-text {
        color: white; 
        padding-top: 200px;
    }
    .deco-line {
        width: 3px;
        height: 140px;
        background-color: #808080;
        margin: 40px auto 20px auto;
    }
    .image-full-width {
        height: 700px; 
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    .image-half-width {
        height: 700px;  
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    .bottom-images {
        height: 100%; 
        width: 100%; 
        background-size: cover;
        background-position: center;
    }
    
    .bottom-image-blocks {
        height: 23vw;
        max-height: 250px;
        width: 23vw;
        max-width: 250px;
        border-bottom: 1px solid white;
    }
    .bottom-image-blocks:hover {
        border-bottom: 1px solid black;
    }
    @media screen and (min-width: 641px) and (max-width: 800px) {
        .landing-image {
            height: 300px;
        }
        .landing-text {
            color: white; 
            padding-top: 100px;
        }
        .deco-line {
            width: 3px;
            height: 100px;
            background-color: #808080;
            margin: 20px auto 10px auto;
        }
        .image-full-width {
            height: 400px; 
            width: 100%; 
            background-size: cover;
            background-position: center;
        }
        .image-half-width {
            height: 600px;  
        }
    }
    @media screen and (max-width: 640px) {
        .wide-screen-only {
            display: none;
        }
        .mobile-screen-only {
            display: block;
        }
        .column-left {
            padding-right: 0;
        }
        .column-right {
            padding-left: 0;
        }
        .landing-image {
            height: 200px;
        }
        .landing-text {
            color: white; 
            padding-top: 50px;
        }
        .deco-line {
            width: 3px;
            height: 50px;
            background-color: #808080;
            margin: 20px auto 10px auto;
        }
        .image-full-width {
            height: 200px; 
            width: 100%; 
            background-size: cover;
            background-position: center;
        }
        .image-half-width {
            height: 300px;  
        }
        .bottom-image-blocks {
            height: 45vw;
            max-height: 250px;
            width: 45vw; 
            max-width: 250px;
            margin-bottom: 10px;
        }
    }

    
    b {
        font-weight: bolder;
    }
    h1 {
        font-size: 80px;
        font-family: dm serif display;
        line-height: 80px;
    }
    h2 {
        font-size: 36px;
        font-family: dm serif display;
        line-height: 36px;
    }
    h3 {
        font-size: 26px;
        font-family: montserrat-semibold;
        line-height: 36px;
        letter-spacing: 3px;
    }
    h4 {
        font-size: 22px;
        font-family: montserrat-light;
        line-height: 32px;
        letter-spacing: 3px;
    }
    h5 {
        font-size: 20px;
        font-family: montserrat-bold;
        line-height: 30px;
        letter-spacing: 2px;
    }
    p {
        font-size: 20px;
        font-family: montserrat;
        line-height: 30px;
    }
    .small-text {
        font-size: 15px;
        font-family: montserrat-light;
        line-height: 25px;
    }
    .large-text {
        font-size: 26px;
        font-family: montserrat;
        line-height: 36px;
    }
    .quote-text {
        font-size: 30px;
        font-family: dm serif display;
        line-height: 32px;
    }

</style>


{% schema %}
     {
         "name": "Sole Hero Footbed Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image2"
            },
            {
                "type": "textarea",
                "id": "section_patent",
                "label": "Patent"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image3"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title2"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_2",
                "label": "Paragraph2"
            }
         ]
     }
 {% endschema %}
