<div class="section" style="margin-top: 0; margin-bottom: 0">
    <div class="cell-image cell medium-auto landing-image" 
        style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
            <div class="text-center landing-text">
                <h1>{{section.settings.section_main_title}}</h1>
                <h4>{{section.settings.section_subtitle}}</h4>
            </div>
    </div>
</div>

<div class="section mobile-style3">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-6 large-6 column-left wide-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');
                    height: 650px;
                    background-size: contain;
                    background-repeat: no-repeat;">
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-right">
                <div class="deco-line mobile-style1" style="margin-bottom: 40px"></div>
                <div class="text-center">
                    <h1>{{section.settings.section_title }}</h1>
                    <p>{{section.settings.section_paragraph}}</p>
                    <span><b><a href="{{section.settings.link1}}">{{section.settings.link1_name}}</a></b></span>
                </div>
                <div class="deco-line mobile-style2"></div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-left mobile-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');
                    background-size: contain;
                    background-repeat: no-repeat;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section mobile-style4">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-12 large-12 wide-screen-only">
                <div data-autoload-class="ComponentVideo">
                    <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="675px" controls="controls">
                        <source src="{{ section.settings.video }}" type="video/mp4">
                    </video>
                </div>
                <div class="text-right" style="width: 100%; margin: 0 0 0 1px;">
                    <p class="small-text" style="margin-top: 0">{{section.settings.section_patent}}</p>
                </div>
            </div>
            
            <div class="text-center" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title_2}}</h1>
                <p style="margin-bottom: 0">{{section.settings.section_paragraph_2}}</p>
            </div>
            
            <div class="cell small-12 medium-12 large-12 mobile-screen-only">
                <div data-autoload-class="ComponentVideo">
                    <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="200px" controls="controls">
                        <source src="{{ section.settings.video-m }}" type="video/mp4">
                    </video>
                </div>
                <div class="text-right" style="width: 100%; margin: 0 0 0 1px;">
                    <p style="margin-bottom: 0">{{section.settings.section_patent}}</p>
                </div>
            </div>
            
            <div class="deco-line mobile-style3 mobile-style5" style="margin-bottom: 40px"></div>
        </div>
    </div>
</div>

<style>
    @media screen and (max-width: 640px) {
        .mobile-style1 {
            margin-top: 0!important;
            margin-bottom: 20px!important;
        }
        .mobile-style2 {
            margin-bottom: 20px!important;
        }
        .mobile-style3 {
            margin-bottom: 0!important;
        }
        .mobile-style4 {
            margin-top: 0!important;
        }
        .mobile-style5 {
            margin-top: 10px!important;
        }
        .mobile-style6 {
            margin-top: 30px!important;
        }
        .mobile-style7 {
            padding-top: 0!important;
        }
        .mobile-style8 {
            height: 300px!important;
        }
        .mobile-style9 {
            padding: 5px 0 0 0!important;
        }
    }
</style>


{% schema %}
     {
         "name": "Sole Hero Footbed Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph"
            },
            {
                "id": "video",
                "type": "text",
                "label": "Video",
                "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
            },
            {
                "id": "video-m",
                "type": "text",
                "label": "Video Mobile",
                "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image2"
            },
            {
                "type": "textarea",
                "id": "section_patent",
                "label": "Patent"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image3"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title2"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_2",
                "label": "Paragraph2"
            }
         ]
     }
 {% endschema %}
