<div class="section section-step-inside" data-autoload-class="StepInsideSection">

    <div class="section-line"></div>

    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell medium-6">
                <div class="text-center mb-15 text-container">
                    <h2 class="h1">{{ section.settings.section_title }}</h2>
                    <p class="lead">{{ section.settings.section_content }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="glide slider">
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-chevron-right' %}</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-chevron-right' %}</button>
        </div>
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for block in section.blocks %}
                    <li class="glide__slide">
                        <div class="step-inside-item">
                            <a href="{{ block.settings.link }}" target="_blank">
                                <img class="step-inside-item-image"
                                     src="{{ block.settings.image | img_url: '600x600', crop: 'center' }}"
                                    srcset="
                                     {{ block.settings.image | img_url: '300x300', crop: 'center' }} 300w,
                                     {{ block.settings.image | img_url: '400x400', crop: 'center' }} 400w,
                                     {{ block.settings.image | img_url: '500x500', crop: 'center' }} 500w,
                                     {{ block.settings.image | img_url: '600x600', crop: 'center' }} 600w"
                                    sizes="
                                    (min-width: 600px) 60vw,
                                    (min-width: 850px) 50vw,
                                    (min-width: 1024px) 33.3vw,
                                    (min-width: 1200px) 33.3vw,
                                    (min-width: 1400px) 33.3vw,
                                    80vw"
                                    alt="Image for {{ block.settings.title }}"
                                />
                                <div class="step-inside-item-content-container">
                                    <div class="step-inside-item-content">
                                        <div class="step-inside-item-content-subtitle">
                                            {{ block.settings.subtitle }}
                                        </div>
                                        <h3>{{ block.settings.title }}</h3>
                                    </div>
                                </div>
                            </a>

                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>

{% schema %}
    {
        "name": "Step Inside Slider",
        "settings": [
           {
            "type": "header",
            "content": "Section Title"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "id": "section_content",
                "type": "textarea",
                "label": "Content"
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "subtitle",
                        "type": "text",
                        "label": "Subtitle"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            }
        ]
    }
{% endschema %}
