<div class="section" style="margin-top: 0;">
    <div class="cell-image cell medium-auto landing-image" 
        style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
            <div class="text-center landing-text">
                <h1>{{section.settings.section_main_title}}</h1>
                <h4>{{section.settings.section_subtitle}}</h4>
            </div>
    </div>
</div>

<div class="section mobile-style1" style="margin-bottom: 60px">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="deco-line mobile-style1 mobile-style2"></div>
            <div class="text-center mobile-style3 mobile-style1" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
            </div>
            <div class="cell-image cell medium-auto image-full-width" 
                style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');">
            </div>
        </div>
    </div>
</div>

<div class="section" style="background-color: #eeeeee">
    <div class="grid-container" style="margin: 0; padding: 0;">
        <div class="grid-x align-middle" style="width: 100vw">
            <div class="cell small-12 medium-6 large-6 column-left">
                <div class="special-paragraph-margin">
                    <h4 class="text-center">{{section.settings.section_subtitle_2}}</h4>
                    <h1 class="text-center mobile-style7" style="margin-bottom: 60px;">{{section.settings.section_title_2}}</h1>
                    <h5 class="text-left">{{section.settings.section_2_h1}}</h5>
                    <p class="text-left">{{section.settings.section_2_p1}}</p>
                    <div class="deco-line-horizontal"></div>
                    <h5 class="text-left">{{section.settings.section_2_h2}}</h5>
                    <p class="text-left">{{section.settings.section_2_p2}}</p>
                    <div class="deco-line-horizontal"></div>
                    <h5 class="text-left">{{section.settings.section_2_h3}}</h5>
                    <p class="text-left">{{section.settings.section_2_p3}}</p>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-right">
                <div class="cell-image cell medium-auto image-half-width wide-screen-only" 
                    style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');
                    height: 1400px;">
                </div>
                <div class="cell-image cell medium-auto image-half-width mobile-screen-only" 
                    style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');
                    height: 400px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section mobile-style2" style="margin-top: 60px">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-6 large-6 column-left wide-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_4 | img_url: '1400x'}}');
                    height: 950px">
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-right">
                <div class="deco-line mobile-style1 mobile-style2"></div>
                <div>
                    <h1 class="text-center mobile-style3 mobile-style5" style="margin-top: 40px; margin-bottom: 40px">{{section.settings.section_title_3}}</h1>
                    {{section.settings.section_paragraph_3}}
                    <span><h5><a href="{{section.settings.link3}}">{{section.settings.link3_name}}</a></h5></span>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6 column-left mobile-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_4 | img_url: '1400x'}}');">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" style="margin-bottom: 60px">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell small-12 medium-6 large-6 column-left">
                <div class="deco-line mobile-style2 mobile-style5"></div>
                <h1 class="text-center" style="padding-bottom: 20px">{{section.settings.section_title_4}}</h1>
                <div onclick="getElementById('section_a1').style.display = 'block';getElementById('section_a2').style.display = 'none';getElementById('section_a3').style.display = 'none'">
                    <p id="section_q1" class="text-left sections_questions"><b>{{section.settings.section_q1}}</b></p>
                    <p id="section_a1" class="text-left section_answers">{{section.settings.section_a1}}</p>
                    <div class="deco-line-horizontal"></div>
                </div>
                <div onclick="getElementById('section_a1').style.display = 'none';getElementById('section_a2').style.display = 'block';getElementById('section_a3').style.display = 'none'">
                    <p id="section_q2" class="text-left sections_questions"><b>{{section.settings.section_q2}}</b></p>
                    <p id="section_a2" class="text-left section_answers">{{section.settings.section_a2}}</p>
                    <div class="deco-line-horizontal"></div>
                </div>
                <div onclick="getElementById('section_a1').style.display = 'none';getElementById('section_a2').style.display = 'none';getElementById('section_a3').style.display = 'block'">
                    <p id="section_q3" class="text-left sections_questions"><b>{{section.settings.section_q3}}</b></p>
                    <p id="section_a3" class="text-left section_answers">{{section.settings.section_a3}}</p>
                    <div class="deco-line-horizontal"></div>
                </div>
                <span><h5><a href="{{section.settings.link4}}">{{section.settings.link4_name}}</a></h5></span>
            </div>
            <div class="cell small-12 medium-6 large-6 column-right wide-screen-only">
                <div class="cell-image cell medium-auto image-half-width" 
                    style="background-image: url('{{section.settings.image_5 | img_url: '1400x'}}');">
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    @media screen and (max-width: 640px) {
        .mobile-style1 {
            margin-bottom: 0!important;
        }
        .mobile-style2 {
            margin-top: 0!important;
        }
        .mobile-style3 {
            margin-top: 25px!important;
        }
        .mobile-style4 {
            margin-top: 40px!important;
            margin-bottom: 30px!important;
        }
        .mobile-style5 {
            margin-bottom: 20px!important;
        }
        .mobile-style6 {
            height: 280px!important;
        }
        .mobile-style7 {
            margin-bottom: 35px!important;
        }
    }
</style>


{% schema %}
     {
         "name": "Sustainability Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },{
                "type": "text",
                "id": "section_subtitle",
                "label": "Subtitle"
            },{
                "type": "image_picker",
                "id": "image_1",
                "label": "Image1"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image2"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image3"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title2"
            },
            {
                "type": "text",
                "id": "section_subtitle_2",
                "label": "Subtitle2"
            },
            {
                "type": "text",
                "id": "section_2_h1",
                "label": "Section 2 Header 1"
            },
            {
                "type": "textarea",
                "id": "section_2_p1",
                "label": "Section 2 Paragraph 1"
            },
            {
                "type": "text",
                "id": "section_2_h2",
                "label": "Section 2 Header 2"
            },
            {
                "type": "textarea",
                "id": "section_2_p2",
                "label": "Section 2 Paragraph 2"
            },
            {
                "type": "text",
                "id": "section_2_h3",
                "label": "Section 2 Header 3"
            },
            {
                "type": "textarea",
                "id": "section_2_p3",
                "label": "Section 2 Paragraph 3"
            },
            {
                "type": "image_picker",
                "id": "image_4",
                "label": "Image4"
            },
            {
                "type": "text",
                "id": "section_title_3",
                "label": "Title3"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_3",
                "label": "Paragraph3"
            },
            {
                "type": "text",
                "id": "link3",
                "label": "Link3"
            },
            {
                "type": "text",
                "id": "link3_name",
                "label": "Link3 Name"
            },
            {
                "type": "image_picker",
                "id": "image_5",
                "label": "Image5"
            },
            {
                "type": "text",
                "id": "section_title_4",
                "label": "Title4"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_4",
                "label": "Paragraph4"
            },
            {
                "type": "text",
                "id": "section_q1",
                "label": "Question 1"
            },
            {
                "type": "textarea",
                "id": "section_a1",
                "label": "Answer1"
            },
            {
                "type": "text",
                "id": "section_q2",
                "label": "Question 2"
            },
            {
                "type": "textarea",
                "id": "section_a2",
                "label": "Answer2"
            },
            {
                "type": "text",
                "id": "section_q3",
                "label": "Question 3"
            },
            {
                "type": "textarea",
                "id": "section_a3",
                "label": "Answer3"
            },
            {
                "type": "text",
                "id": "link4",
                "label": "Link4"
            },
            {
                "type": "text",
                "id": "link4_name",
                "label": "Link4 Name"
            }
         ]
     }
 {% endschema %}
