<div class="section section-text-image no-margin">

    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="cell medium-6 large-4">
                <div class="cell-text-container">
                    <h2 class="h3 mb-20">{{ section.settings.title }}</h2>
                    {{ section.settings.content }}
                    {% if section.settings.button_text != blank %}
                        <a class="button button-primary" href="{{section.settings.link}}">{{section.settings.button_text}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="cell-image cell medium-auto">
                {% if section.settings.image_1 != blank %}
                    <img src="{{section.settings.image_1 | img_url: '1400x'}}" class="show-for-large" srcset="{{section.settings.image_1 | img_url: '1400x'}} 1400w, {{section.settings.image_1 | img_url: '1100x'}} 1100w, {{section.settings.image_1 | img_url: '800x'}} 800w, {{section.settings.image_1 | img_url: '450x'}} 450w">
                {% endif %}
                {% if section.settings.image_3 != blank %}
                    <img src="{{section.settings.image_3 | img_url: '600x'}}" class="hide-for-large">
                {% endif %}
            </div>
            <div class="cell-image cell medium-auto large-shrink show-for-large">
                {% if section.settings.image_2 != blank %}
                    <img src="{{section.settings.image_2 | img_url: '270x'}}" srcset="{{section.settings.image_2 | img_url: '270x'}} 1400w", {{section.settings.image_1 | img_url: '100x'}} 900w, >
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% schema %}
    {
        "name": "Text Image",
        "settings": [
            {
                "id": "title",
                "type": "text",
                "label": "Title"
            },
            {
                "id": "content",
                "type": "richtext",
                "label": "Content"
            },
            {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"
            },
            {
                "id": "link",
                "type": "url",
                "label": "Button Link"
            },
            {
                "id": "image_1",
                "type": "image_picker",
                "label": "Feature Image"
            },
            {
                "id": "image_2",
                "type": "image_picker",
                "label": "Background Image 1"
            },
            {
                "id": "image_3",
                "type": "image_picker",
                "label": "Mobile Image"
            }
        ],
        "presets": [
            {
                "name": "Text Image",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
