<div data-autoload-class="WeStandForSection" class="section section-we-stand-for" style="background-color: #eeeeee">

  <div class="grid-container mb-40 mobile-style1">
    <div class="grid-x align-center text-center">
      <div class="cell">
        <h2 class="h1 mb-20 mobile-style2 mobile-style6" style="margin-top: 80px">{{ section.settings.section_title}}</h2>
        <p>{{ section.settings.section_content }}</p>
      </div>
    </div>
  </div>

  <div class="grid-container">

    <div class="tab-titles">
      <div class="glide tab-slider">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% assign tabIndex = 1 %}
            {% for block in section.blocks %}

              {% if block.type == 'tab_title' %}
                  <li class="glide__slide">
                    <div class="tab-title-container">
                      <div class="tab-title{% if tabIndex == 1 %} active{% endif %}" data-tab-index="{{ tabIndex }}">
                        <div class="tab-title-container">
                          <img class="tab-title-image" src="{{ block.settings.image | img_url: '500x500', crop: 'center' }}"/>
                          <div class="tab-title-content-container" style="padding: 30px 50px 15px 25px">
                            <div class="tab-title-content">
                              <h2>{{ block.settings.title }}</h2>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                {% assign tabIndex = tabIndex | plus: 1 %}
              {% endif %}

            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

  </div>


  {% comment %}
    Tab Content
  {% endcomment %}
  <div class="grid-container">

    <div class="grid-x">
      <div class="cell large-12">

        <div class="tab-content mobile-style7" style="padding-bottom: 20px">
          {% assign tabContentIndex = 1 %}

          {% assign slideTitles = '' %}

          {% for block in section.blocks %}

            {% if block.type == 'slider_start' %}

            {% assign slideTitles = '' %}
             <div class="tab-content-item{% if tabContentIndex == 1 %} active{% endif %}" data-tab-content-index="{{ tabContentIndex }}">
              <div class="glide slider">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
              {% assign tabContentIndex = tabContentIndex | plus: 1 %}

            {% endif %}

            {% if block.type == 'slider_end' %}

                  </ul>
                </div>
                <div class="glide__bullets mobile-bullet" data-glide-el="controls[nav]">
                  {% assign slides = slideTitles | split: ',' %}
                  {% for bullet in slides %}
                    <button class="glide__bullet" style="background: none;" data-glide-dir="={{ forloop.index0 }}">
                      <span></span>
                      {{bullet}}
                    </button>
                  {% endfor %}
                </div>
              </div>

              </div>

            {% endif %}

            {% if block.type == 'tab_content' %}

              <li class="glide__slide">

                  <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell medium-12 large-6 tab-content-item-media {{ block.settings.image_placement }}">

                      {% if block.settings.video_url != blank %}
                        {% assign videoId = block.settings.video_url.id %}
                        <div class="video-container">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                      {% else %}
                        <img width="100%" height="430" src="{{ block.settings.image | img_url: '700x560', crop: 'center' }}" class="mobile-style6 mobile-style8"/>
                      {% endif %}

                    </div>
                    <div class="cell medium-12 large-6">
                      <h2 class="h1">{{ block.settings.title }}</h2>
                      <div>{{ block.settings.content }}</div>

                      <a class="tab-content-item-link" href="{{ block.settings.link }}" style="text-transform: none;">{{ block.settings.button_text }}</a>
                    </div>
                  </div>

              </li>

              {% unless slideTitles == '' %}
                {% assign slideTitles = slideTitles | append: ',' %}
              {% endunless %}
              {% assign slideTitles = slideTitles | append: block.settings.title %}

            {% endif %}

          {% endfor %}
          <p class="small-text text-center wide-screen-only" style="margin-left: 10%; margin-right: 10%; margin-bottom: 0; font-size: 11px; line-height: 14px">
            {{ section.settings.section_disclaimer }}
          </p>
          <button class="mobile-screen-only" style="margin: 0 auto 0 auto" onclick="toggleText();">Disclaimer</button>
          <script>
          function toggleText() {
            var x = document.getElementById("disclaimer");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
          }
          </script>
          <p id="disclaimer" class="small-text text-center mobile-screen-only" style="margin-left: 10%; margin-right: 10%; margin-bottom: 0; display: none;">
            {{ section.settings.section_disclaimer }}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

{% comment %} <div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="deco-line" style="margin-bottom: 40px"></div>
        </div>
    </div>
</div> {% endcomment %}

<div class="section section-text-image no-margin" style="background-color: #FFFFFF;">
    <div class="grid-container">
        <div class="grid-x align-middle" style="height: auto">
            <div class="cell small-12 medium-7 large-7">
                <div class="deco-line mobile-style3 mobile-style4"></div>
                <div class="cell-text-container mobile-style9" style="padding: 20px; text-align: center; margin: 8%">
                    <div class="cell-image cell medium-auto">
                        <img src="{{section.settings.icon_good_design_award | img_url: '400x'}}" style="width: 210px; margin: auto">
                    </div>
                    <p>{{section.settings.content_good_design_award}}</p>
                    <span><h5><a target="_blank" href="{{ section.settings.url_good_design_award }}">{{ section.settings.url_name_good_design_award }}</a></h5></span>
                </div>
                <div class="deco-line mobile-style4"></div>
            </div>
            <div class="cell-image cell medium-auto good-design-award non-mobile-screen" style="background-image: url('{{section.settings.image_good_design_award | img_url: '1400x'}}'); height: 500px; width: 100%; background-size: cover;">
            </div>
        </div>
    </div>
</div>


<div class="section wide-screen-only">
    <div class="grid-container">
        <div id="container">
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_1_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_1 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_2_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_2 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_3_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_3 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_4_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_4 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section mobile-screen-only">
    <div class="grid-container">
        <div id="container">
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_1_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_1 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_2_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_2 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
        </div>
        <div id="container">
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_3_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_3 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
            <div class="cell small-3 medium-3 large-3 bottom-image-blocks">
                <a href="{{section.settings.image_bottom_4_link}}">
                    <div class="cell-image cell medium-auto bottom-images" 
                        style="background-image: url('{{section.settings.image_bottom_4 | img_url: '1400x'}}');">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



{% schema %}
    {
        "name": "We Stand For Slider",
        "settings": [
           {
            "type": "header",
            "content": "Section Title"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "id": "section_content",
                "type": "textarea",
                "label": "Content"
            },
            {
                "id": "section_disclaimer",
                "type": "textarea",
                "label": "Disclaimer"
            },
            {
                "type": "image_picker",
                "id": "icon_good_design_award",
                "label": "Good Design Award Icon"
            },
            {
                "type": "textarea",
                "id": "content_good_design_award",
                "label": "Content"
            },
            {
                "type": "url",
                "id": "url_good_design_award",
                "label": "Good Design Award URL link"
            },
            {
                "type": "text",
                "id": "url_name_good_design_award",
                "label": "Good Design Award URL link Name"
            },
            {
                "type": "image_picker",
                "id": "image_good_design_award",
                "label": "Good Design Award Image"
            },
            {
                "type": "image_picker",
                "id": "image_bottom_1",
                "label": "Image bottom 1"
            },
            {
                "type": "text",
                "id": "image_bottom_1_link",
                "label": "Image bottom 1 Link"
            },
            {
                "type": "image_picker",
                "id": "image_bottom_2",
                "label": "Image bottom 2"
            },
            {
                "type": "text",
                "id": "image_bottom_2_link",
                "label": "Image bottom 2 Link"
            },
            {
                "type": "image_picker",
                "id": "image_bottom_3",
                "label": "Image bottom 3"
            },
            {
                "type": "text",
                "id": "image_bottom_3_link",
                "label": "Image bottom 3 Link"
            },
            {
                "type": "image_picker",
                "id": "image_bottom_4",
                "label": "Image bottom 4"
            },
            {
                "type": "text",
                "id": "image_bottom_4_link",
                "label": "Image bottom 4 Link"
            }
        ],
        "blocks": [
             {
                "type": "tab_title",
                "name": "Tab Title",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    }
                ]
            },
            {
                "type": "slider_start",
                "name": "Slider Start",
                "settings": []
            },
            {
              "type": "slider_end",
              "name": "Slider End",
              "settings": []
            },
            {
                "type": "tab_content",
                "name": "Tab Content",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                     "type": "select",
                     "id": "image_placement",
                     "label": "Media Placement",
                     "options": [
                       {
                         "value": "",
                         "label": "Left"
                       },
                       {

                         "value": "medium-order-2",
                         "label": "Right"
                       }
                     ],
                     "default": ""
                    },
                    {
                        "id": "video_url",
                        "type": "video_url",
                        "accept": ["youtube"],
                        "label": "Video"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "content",
                        "type": "richtext",
                        "label": "Content"
                    },
                    {
                        "id": "button_text",
                        "type": "text",
                        "label": "Button Text"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            }
        ]
    }
{% endschema %}