<div class="section section-about-us-page-group">

    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="section-line mti-50 mbi-20 m-mb-0 m-mt-0"></div>
            <div class="text-center m-mt-20 m-mb-0" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
            </div>
            {% assign block_count = 0 %}
            {% for block in section.blocks %}
            {% assign block_count = block_count | plus: 1 %}
            <div class="row{% if block_count > 1 %} show-for-medium{% endif %}">
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front text-right" style="background-image: url('{{block.settings.image1 | img_url: '500x'}}'); background-size: cover">
                                <span class="show-for-small-only click-span">Click me</span>
                            </div>
                            <div class="flip-card-back">
                                <div class="quote_div">
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_1 | img_url: '60x'}}"/>
                                    <p class="quote_p" style="font-size: 16px!important; line-height: 20px!important; font-family: 'DM Serif Display'!important">
                                        {{ block.settings.image1_quote }}
                                        <br><br>
                                        <span style="font-size: 14px!important; line-height: 1px!important; font-family: 'montserrat','Helvetica Light'!important">
                                            <b>{{ block.settings.image1_author }}</b><br>
                                            {{ block.settings.image1_occupation }}
                                        </span>
                                    </p> 
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_2 | img_url: '60x'}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front text-right" style="background-image: url('{{block.settings.image2 | img_url: '500x'}}'); background-size: cover">
                                <span class="show-for-small-only click-span">Click me</span>
                            </div>
                            <div class="flip-card-back">
                                <div class="quote_div">
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_1 | img_url: '60x'}}"/>
                                    <p class="quote_p" style="font-size: 16px!important; line-height: 20px!important; font-family: 'DM Serif Display'!important">
                                        {{ block.settings.image2_quote }}
                                        <br><br>
                                        <span style="font-size: 14px!important; line-height: 1px!important; font-family: 'montserrat','Helvetica Light'!important">
                                            <b>{{ block.settings.image2_author }}</b><br>
                                            {{ block.settings.image2_occupation }}
                                        </span>
                                    </p> 
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_2 | img_url: '60x'}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front text-right" style="background-image: url('{{block.settings.image3 | img_url: '500x'}}'); background-size: cover">
                                <span class="show-for-small-only click-span">Click me</span>
                            </div>
                            <div class="flip-card-back">
                                <div class="quote_div">
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_1 | img_url: '60x'}}"/>
                                    <p class="quote_p" style="font-size: 16px!important; line-height: 20px!important; font-family: 'DM Serif Display'!important">
                                        {{ block.settings.image3_quote }}
                                        <br><br>
                                        <span style="font-size: 14px!important; line-height: 1px!important; font-family: 'montserrat','Helvetica Light'!important">
                                            <b>{{ block.settings.image3_author }}</b><br>
                                            {{ block.settings.image3_occupation }}
                                        </span>
                                    </p> 
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_2 | img_url: '60x'}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front text-right" style="background-image: url('{{block.settings.image4 | img_url: '500x'}}'); background-size: cover">
                                <span class="show-for-small-only click-span">Click me</span>
                            </div>
                            <div class="flip-card-back">
                                <div class="quote_div">
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_1 | img_url: '60x'}}"/>
                                    <p class="quote_p" style="font-size: 16px!important; line-height: 20px!important; font-family: 'DM Serif Display'!important">
                                        {{ block.settings.image4_quote }}
                                        <br><br>
                                        <span style="font-size: 14px!important; line-height: 1px!important; font-family: 'montserrat','Helvetica Light'!important">
                                            <b>{{ block.settings.image4_author }}</b><br>
                                            {{ block.settings.image4_occupation }}
                                        </span>
                                    </p> 
                                    <img class="mobile-width quotes" src="{{section.settings.quote_image_2 | img_url: '60x'}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="text-center m-mt-20 m-mb-0" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <span><h5><a href="{{section.settings.link}}">{{section.settings.link_name}}</a></h5></span>
            </div>
        </div>
    </div>

</div>

<style>
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
        margin-bottom: 20px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }

        .row {
            height: 700px;
        }

        .flip-card {
            max-height: 80vw!important;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }

        .row {
            height: 1300px;
        }

        .flip-card {
            margin: auto;
        }
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        max-width: 100%;
        max-height: 25vw;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-back {
        background-color: #dddddd;
        color: black;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .quotes {
        width: 20%;
        max-width: 30px;
    }

    .quote_p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .quote_div {
        padding: 5px 10px 5px 10px;
    }

    .click-span {
        color: white;
        padding: 2px 5px 2px 5px!important;
        background-color: #333;
    }
</style>

{% schema %}
     {
         "name": "Image Gallery",
         "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Section Title"
            },
            {
                "type": "text",
                "id": "section_paragraph",
                "label": "Section Paragraph"
            },
            {
                "type": "text",
                "id": "link_name",
                "label": "Link Text"
            },
            {
                "type": "text",
                "id": "link",
                "label": "Link URL"
            },
            {
                "type": "image_picker",
                "id": "quote_image_1",
                "label": "Quote Icon 1"
            },
            {
                "type": "image_picker",
                "id": "quote_image_2",
                "label": "Quote Icon 2"
            }
         ],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "id": "image1",
                        "type": "image_picker",
                        "label": "Image1"
                    },
                    {
                        "id": "image1_quote",
                        "type": "text",
                        "label": "Quote1",
                        "info": "No more than 180 characters to ensure alignment correct"
                    },
                    {
                        "id": "image1_author",
                        "type": "text",
                        "label": "Author1"
                    },
                    {
                        "id": "image1_occupation",
                        "type": "text",
                        "label": "Occupation1"
                    },
                    {
                        "id": "image2",
                        "type": "image_picker",
                        "label": "Image2"
                    },
                    {
                        "id": "image2_quote",
                        "type": "text",
                        "label": "Quote2",
                        "info": "No more than 180 characters to ensure alignment correct"
                    },
                    {
                        "id": "image2_author",
                        "type": "text",
                        "label": "Author2"
                    },
                    {
                        "id": "image2_occupation",
                        "type": "text",
                        "label": "Occupation2"
                    },
                    {
                        "id": "image3",
                        "type": "image_picker",
                        "label": "Image3"
                    },
                    {
                        "id": "image3_quote",
                        "type": "text",
                        "label": "Quote3",
                        "info": "No more than 180 characters to ensure alignment correct"
                    },
                    {
                        "id": "image3_author",
                        "type": "text",
                        "label": "Author3"
                    },
                    {
                        "id": "image3_occupation",
                        "type": "text",
                        "label": "Occupation3"
                    },
                    {
                        "id": "image4",
                        "type": "image_picker",
                        "label": "Image4"
                    },
                    {
                        "id": "image4_quote",
                        "type": "text",
                        "label": "Quote4",
                        "info": "No more than 180 characters to ensure alignment correct"
                    },
                    {
                        "id": "image4_author",
                        "type": "text",
                        "label": "Author4"
                    },
                    {
                        "id": "image4_occupation",
                        "type": "text",
                        "label": "Occupation4"
                    }
                ]
            }
        ]
     }
 {% endschema %}
