<div class="section section-about-us-page-group">

    <div class="section mti-0 mbi-0 m-auto" style="max-width: 2000px;">
        <div class="cell-image cell medium-auto landing-image" 
            style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');">
                <div class="text-center landing-text" style="padding-top: 250px;">
                    <h1>{{section.settings.section_main_title}}</h1>
                    <h4>{{section.settings.section_subtitle}}</h4>
                </div>
        </div>
    </div>

    <div class="section m-mb-0">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="section-line mti-50 mbi-20 m-mb-0 m-mt-0"></div>
                <div class="text-center m-mt-20 m-mb-0" style="width: 1100px; margin: 40px 10% 20px 10%;">
                    <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                    <p>{{section.settings.section_paragraph}}</p>
                </div>
                <div class="cell-image cell medium-auto image-full-width" 
                    style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');">
                </div>
            </div>
        </div>
    </div>

    <div class="section m-mt-0">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="cell small-12 medium-6 large-6 column-left wide-screen-only">
                    <div class="cell-image cell medium-auto image-half-width" 
                        style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');">
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-6 column-right">
                    <div class="section-line mti-30 mbi-20 m-mb-20 m-mt-30"></div>
                    <div class="text-center">
                        <h1>{{section.settings.section_title_2}}</h1>
                        <p>{{section.settings.section_paragraph_2}}</p>
                        <span><h5><a href="{{section.settings.link1}}">{{section.settings.link1_name}}</a></h5></span>
                    </div>
                    <div class="section-line mti-40 mbi-0 m-mb-10 m-mt-30"></div>
                    <div class="mobile-screen-only" style="height: 20px;"></div>
                </div>
                <div class="cell small-12 medium-6 large-6 column-left mobile-screen-only">
                    <div class="cell-image cell medium-auto image-half-width" 
                        style="background-image: url('{{section.settings.image_3 | img_url: '1400x'}}');">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section m-mb-0">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="cell small-12 medium-6 large-6 column-left">
                    <div class="section-line mti-0 mbi-20 m-mb-20 m-mt-30"></div>
                    <div class="text-center">
                        <h1 class="wide-screen-only" style="font-size: 78px; letter-spacing: -3px;">{{section.settings.section_title_3}}</h1>
                        <h1 class="mobile-screen-only">{{section.settings.section_title_3}}</h1>
                        <p>{{section.settings.section_paragraph_3}}</p>
                        <span><h5><a href="{{section.settings.link2}}">{{section.settings.link2_name}}</a></h5></span>
                    </div>
                    <div class="section-line mti-40 mbi-20 m-mb-10 m-mt-30"></div>
                    <div class="mobile-screen-only" style="height: 20px;"></div>
                </div>
                <div class="cell small-12 medium-6 large-6 column-right">
                    <div class="cell-image cell medium-auto image-half-width" 
                        style="background-image: url('{{section.settings.image_4 | img_url: '1400x'}}');">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-autoload-class="WeStandForSection" class="section section-we-stand-for grey-section">

        <div class="grid-container mbi-40 m-mb-10">
            <div class="grid-x align-center text-center">
            <div class="cell">
                <h2 class="h1 mti-80 mbi-20 m-mt-40">{{ section.settings.section_title_slider}}</h2>
                <p>{{ section.settings.section_content }}</p>
            </div>
            </div>
        </div>

        <div class="grid-container">

            <div class="tab-titles">
            <div class="glide tab-slider">
                <div class="glide__arrows mid-screen-show" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" style="top:40%" data-glide-dir="<">{% render 'icon-chevron-right' %}</button>
                    <button class="glide__arrow glide__arrow--right" style="top:40%" data-glide-dir=">">{% render 'icon-chevron-right' %}</button>
                </div>
                <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% assign tabIndex = 1 %}
                    {% for block in section.blocks %}

                    {% if block.type == 'tab_title' %}
                        <li class="glide__slide">
                            <div class="tab-title-container">
                            <div class="tab-title{% if tabIndex == 1 %} active{% endif %}" data-tab-index="{{ tabIndex }}">
                                <div class="tab-title-container">
                                <img class="tab-title-image" src="{{ block.settings.image | img_url: '500x500', crop: 'center' }}"/>
                                <div class="tab-title-content-container" style="padding: 30px 50px 15px 25px">
                                    <div class="tab-title-content">
                                    <h2 class="mobile-h">{{ block.settings.title }}</h2>
                                    </div>
                                </div>
                                </div>

                            </div>
                            </div>
                        </li>
                        {% assign tabIndex = tabIndex | plus: 1 %}
                    {% endif %}

                    {% endfor %}
                </ul>
                </div>
            </div>

            </div>

        </div>


        {% comment %}
            Tab Content
        {% endcomment %}
        <div class="grid-container">

            <div class="grid-x">
            <div class="cell large-12">

                <div class="tab-content">
                {% assign tabContentIndex = 1 %}

                {% assign slideTitles = '' %}

                {% for block in section.blocks %}

                    {% if block.type == 'slider_start' %}

                    {% assign slideTitles = '' %}
                    <div class="tab-content-item{% if tabContentIndex == 1 %} active{% endif %}" data-tab-content-index="{{ tabContentIndex }}">
                    <div class="glide slider">
                        <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                    {% assign tabContentIndex = tabContentIndex | plus: 1 %}

                    {% endif %}

                    {% if block.type == 'slider_end' %}

                        </ul>
                        </div>
                        <div class="glide__bullets mobile-bullet" data-glide-el="controls[nav]">
                        {% assign slides = slideTitles | split: ',' %}
                        {% for bullet in slides %}
                            <button class="glide__bullet" style="background: none;" data-glide-dir="={{ forloop.index0 }}">
                            <span></span>
                            {{bullet}}
                            </button>
                        {% endfor %}
                        </div>
                    </div>

                    </div>

                    {% endif %}

                    {% if block.type == 'tab_content' %}

                    <li class="glide__slide" style="margin-bottom: 20px">

                        <div class="grid-x grid-margin-x grid-margin-y">
                            <div class="cell medium-12 large-6 tab-content-item-media {{ block.settings.image_placement }}" style="padding: 0">

                            {% if block.settings.video != blank %}
                                <div data-autoload-class="ComponentVideo" class="wide-screen-only">
                                    <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="330" controls="controls">
                                        <source src="{{ block.settings.video }}" type="video/mp4">
                                    </video>
                                </div>
                                <div data-autoload-class="ComponentVideo" class="mobile-screen-only">
                                    <video autoplay="" loop="" muted="" plays-inline="" playsinline width="100%" height="200" controls="controls">
                                        <source src="{{ block.settings.video-m }}" type="video/mp4">
                                    </video>
                                </div>
                            {% else %}
                                <img class="m-h300" width="100%" style="object-fit: contain; object-position: bottom;" src="{{ block.settings.image | img_url: '700x560', crop: 'center' }}"/>
                            {% endif %}

                            </div>
                            <div class="cell medium-12 large-6">
                            <h2 class="h1">{{ block.settings.title }}</h2>
                            <div>{{ block.settings.content }}</div>

                            <a class="tab-content-item-link" href="{{ block.settings.link }}">
                                <span class="wide-screen-only" style="text-transform: none;">{{ block.settings.button_text }}</span>
                                <span class="mobile-screen-only" style="text-transform: none;">{{ block.settings.button_text_mobile }}</span>
                            </a>
                            </div>
                        </div>

                    </li>

                    {% unless slideTitles == '' %}
                        {% assign slideTitles = slideTitles | append: ',' %}
                    {% endunless %}
                    {% assign slideTitles = slideTitles | append: block.settings.title %}

                    {% endif %}

                {% endfor %}

                </div>
            </div>

            </div>

        </div>
    </div>

    <div class="section m-mb-0">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="section-line mti-50 mbi-20 m-mb-0 m-mt-0"></div>
                <div class="text-center m-mt-20 m-mb-0 section_text">
                    <h1 class="mbi-30">{{section.settings.section_title_4}}</h1>
                    <p>{{section.settings.section_paragraph_4}}</p>
                </div>
                <div class="cell small-12 medium-4 large-4 text-center column_div">
                    <img class="column_image" src="{{ section.settings.percentage1 | img_url: '500x500', crop: 'center' }}"/>
                    <p>{{ section.settings.text1}}</p>
                </div>
                <div class="cell small-12 medium-4 large-4 text-center column_div">
                    <img class="column_image" src="{{ section.settings.percentage2 | img_url: '500x500', crop: 'center' }}"/>
                    <p>{{ section.settings.text2}}</p>
                </div>
                <div class="cell small-12 medium-4 large-4 text-center column_div">
                    <img class="column_image" src="{{ section.settings.percentage3 | img_url: '500x500', crop: 'center' }}"/>
                    <p>{{ section.settings.text3}}</p>
                </div>
            </div>
        </div>
    </div>
    <style>
        .section_text {
            width: 1100px; 
            margin: 40px 10% 20px 10%;
        }

        .column_image {
            width: 200px; 
            height: 200px; 
            max-width: 100%;
        }

        @media only screen and (max-width: 640px) {
            .column_div {
                height: 300px;
            }
        }

        @media only screen and (min-width: 641px) {
            .column_div {
                height: 350px;
            }
        }
    </style>
 
    <div class="section section-step-inside-slider" data-autoload-class="StepInsideSliderSection">

        <div class="section-line mti-70 mbi-40 m-mt-30 m-mb-15"></div>

        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-12">
                    <div class="text-center mbi-15 text-container">
                        <h1>{{ section.settings.section_title_blog }}</h1>
                        <p class="lead">{{ section.settings.section_content_blog }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="glide slider">
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-chevron-right' %}</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-chevron-right' %}</button>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for block in section.blocks %}
                        {% if block.type == 'slide' %}
                        <li class="glide__slide">
                            <div class="step-inside-item">
                                <a href="{{ block.settings.link }}" target="_blank">
                                    <img class="step-inside-item-image"
                                        src="{{ block.settings.image | img_url: '600x600', crop: 'center' }}"
                                        srcset="
                                        {{ block.settings.image | img_url: '300x300', crop: 'center' }} 300w,
                                        {{ block.settings.image | img_url: '400x400', crop: 'center' }} 400w,
                                        {{ block.settings.image | img_url: '500x500', crop: 'center' }} 500w,
                                        {{ block.settings.image | img_url: '600x600', crop: 'center' }} 600w"
                                        sizes="
                                        (min-width: 600px) 60vw,
                                        (min-width: 850px) 50vw,
                                        (min-width: 1024px) 33.3vw,
                                        (min-width: 1200px) 33.3vw,
                                        (min-width: 1400px) 33.3vw,
                                        80vw"
                                        alt="Image for {{ block.settings.title }}"
                                    />
                                    <div class="step-inside-item-content-container" style="padding: 40px 50px 20px 25px">
                                        <div class="step-inside-item-content">
                                            <div class="step-inside-item-content-subtitle">
                                                <h5>{{ block.settings.subtitle }}</h5>
                                            </div>
                                            <h2 class="mobile-h">{{ block.settings.title }}</h2>
                                        </div>
                                    </div>
                                </a>

                            </div>

                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>

    {% comment %} new section {% endcomment %}

</div>


{% schema %}
     {
         "name": "Workwear Hub Content",
         "settings": [
            {
                "type": "text",
                "id": "section_main_title",
                "label": "Page Title"
            },
            {
                "type": "text",
                "id": "section_subtitle",
                "label": "Page Subtitle"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "Page Landing Background Image"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title 1"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph 1"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image Section 1"
            },
            {
                "type": "text",
                "id": "section_title_2",
                "label": "Title 2"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "Image Section 2"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_2",
                "label": "Paragraph 2"
            },
            {
                "type": "text",
                "id": "link1_name",
                "label": "Link Section 2 Text"
            },
            {
                "type": "text",
                "id": "link1",
                "label": "Link Section 2"
            },
            {
                "type": "text",
                "id": "section_title_3",
                "label": "Title 3"
            },
            {
                "type": "image_picker",
                "id": "image_4",
                "label": "Image Section 3"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_3",
                "label": "Paragraph 3"
            },
            {
                "type": "text",
                "id": "link2_name",
                "label": "Link Section 3 Text"
            },
            {
                "type": "text",
                "id": "link2",
                "label": "Link Section 3"
            },
            {
                "type": "text",
                "id": "section_title_slider",
                "label": "Title Slider"
            },
            {
                "type": "textarea",
                "id": "section_content",
                "label": "Content Slider"
            },
            {
                "type": "text",
                "id": "section_title_4",
                "label": "Title Section 4"
            },
            {
                "type": "image_picker",
                "id": "image_5",
                "label": "Image Section 4"
            },
            {
                "type": "textarea",
                "id": "section_paragraph_4",
                "label": "Paragraph Section 4"
            },
            {
                "type": "image_picker",
                "id": "percentage1",
                "label": "Percentage Image 1"
            },
            {
                "type": "textarea",
                "id": "text1",
                "label": "Percentage Text 1"
            },
            {
                "type": "image_picker",
                "id": "percentage2",
                "label": "Percentage Image 2"
            },
            {
                "type": "textarea",
                "id": "text2",
                "label": "Percentage Text 2"
            },
            {
                "type": "image_picker",
                "id": "percentage3",
                "label": "Percentage Image 3"
            },
            {
                "type": "textarea",
                "id": "text3",
                "label": "Percentage Text 3"
            },
            {
                "type": "text",
                "id": "section_title_blog",
                "label": "Title Bottom Slider"
            },
            {
                "type": "textarea",
                "id": "section_content_blog",
                "label": "Content Bottom Slider"
            }
         ],
        "blocks": [
            {
                "type": "tab_title",
                "name": "Tab Title",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    }
                ]
            },
            {
                "type": "slider_start",
                "name": "Slider Start",
                "settings": []
            },
            {
              "type": "slider_end",
              "name": "Slider End",
              "settings": []
            },
            {
                "type": "tab_content",
                "name": "Tab Content",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                     "type": "select",
                     "id": "image_placement",
                     "label": "Media Placement",
                     "options": [
                       {
                         "value": "",
                         "label": "Left"
                       },
                       {

                         "value": "medium-order-2",
                         "label": "Right"
                       }
                     ],
                     "default": ""
                    },
                    {
                        "id": "video",
                        "type": "text",
                        "label": "Video",
                        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
                    },
                    {
                        "id": "video-m",
                        "type": "text",
                        "label": "Video Mobile",
                        "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "content",
                        "type": "textarea",
                        "label": "Content"
                    },
                    {
                        "id": "button_text",
                        "type": "text",
                        "label": "Button Text"
                    },
                    {
                        "id": "button_text_mobile",
                        "type": "text",
                        "label": "Button Text Mobile"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            },
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "id": "subtitle",
                        "type": "text",
                        "label": "Subtitle"
                    },
                    {
                        "id": "link",
                        "type": "url",
                        "label": "Button Link"
                    }
                ]
            }
        ]
     }
 {% endschema %}
