<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ content_for_header }}
  {% include 'style-tags', layout: 'password' %}
  {% include 'css-variables' %}

  {% include 'shogun-head' %}
</head>

<body class="template-password">


<div class="grid-y align-center mh-100">
  <div class="cell">
    <div class="grid-container container-wrapper">

      <main role="main" id="container-opening" class="container container-opening text-center">
        <h1>{{ shop.name }}</h1>
        {{ content_for_layout }}
      </main>

      <div id="container-login" class="container container-login text-center hide">
        <div id="Login">
          <h4 class="mb-30">{{ 'general.password_page.login_form_heading' | t }}</h4>
            {% form 'storefront_password' %}

              <div class="grid-x grid-margin-y mb-10">
                <div class="cell medium-auto">
                  <label for="password" class="hide">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <input type="password"
                         name="password"
                         id="Password"
                         placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                </div>
                <div class="cell medium-shrink">
                  <button type="submit" name="commit" class="button button-primary button-expanded">
                      {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </div>
              </div>

              {{ form.errors | default_errors }}
            {% endform %}
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>

      <a id="login-button" class="button button-hollow">
        {{ 'general.password_page.password_link' | t }} &rarr;
      </a>

      <a id="cancel-login-button" class="button-cancel hide">
          {% include 'icon-cross' %}
      </a>

    </div>
  </div>
</div>




  {% include 'script-tags', layout: 'password' %}
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
